<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/kartik.png" alt="">
        <a href="https://www.linkedin.com/in/karthix/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Картик Айэр</div>
        <div class="box-qualification">Mentor, Founder & CEO of BlockchainMonk</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/Marshal.png" alt="">
        <a href="https://www.linkedin.com/in/desmondmarshall/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Десмонд Маршалл
        </div>
        <div class="box-qualification">Member of global Enterprise Ethereum Alliance,
            Advisor to Hong Kong Government, MD of Rouge Ventures
        </div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/vincent.png" alt="">
        <a href="https://www.linkedin.com/in/vincent-lai-36396323/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Винсент Лаи
        </div>
        <div class="box-qualification">Founder/CEO of ToccoTravel</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/turskiy.png" alt="">
        <a href="https://www.linkedin.com/in/alex-tourski-1b81022/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Алекс Турский</div>
        <div class="box-qualification">Founder/CEO of izi.travel</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/povolotskiy.png" alt="">
        <a href="https://m.facebook.com/roman.povolotski" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-facebook"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Роман Поволоцкий
        </div>
        <div class="box-qualification">Founder/CEO of “Cyber Russia”</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/dzhamgaryan.png" alt="">
        <a href="https://www.linkedin.com/in/eduard-dzhamgaryan-a0719351/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Эдуард Джамгарян</div>
        <div class="box-qualification">CBDO ICObox, TOKEN SALE Analyst/Adviser</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/anders1.JPG" alt="">
        <a href="https://www.linkedin.com/in/anders-larsson/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Anders Larsson</div>
        <div class="box-qualification">Сo-founder of the allcoinWiki</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/holmer1.JPG" alt="">
        <a href="https://www.linkedin.com/in/joakimholmer/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Joakim Holmer</div>
        <div class="box-qualification">Co-founder of the allcoinWiki</div>
    </div>
</li>

Консультанты по маркетингу

<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/karolik.png" alt="">
        <a href="https://www.linkedin.com/in/alexander-karolik-shlaen-764374/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Александр Каролик-Шлейн</div>
        <div class="box-qualification">Founder of Panache Managment Pte Ltd; Holds an Executive MBA
            from Kellogg School of Management and Hong Kong University of Science and Technology.
        </div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/simonovsky.png" alt="">
        <a href="https://www.linkedin.com/in/tonysimonovsky/ " target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Тони Симоновский</div>
        <div class="box-qualification">Marketing data scientist, Token Sale focused growth hacker
        </div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/matveev.png" alt="">
        <a href="https://facebook.com/profile.php?id=100003281332645" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-facebook"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Юрий Матвеев</div>
        <div class="box-qualification">Founder/CEO of the "Banzay" and "National Business"
            magazines
        </div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/sokolovskiy.png" alt="">
        <a href="https://www.linkedin.com/in/руслан-соколовский/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Руслан Соколовский</div>
        <div class="box-qualification">Founder/CEO of the magazine "BitJournal",
            YouTube Blogger > 500k subscribers
        </div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/larin.png" alt="">
        <a href="https://www.youtube.com/user/larinshow" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-youtube"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Дмитрий Ларин</div>
        <div class="box-qualification">PR-advisor, <br>
            YouTube Blogger > 2kk subscribers
        </div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/Malcolm.png" alt="">
        <a href="https://www.linkedin.com/in/malcolmtan/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Малкольм Тан</div>
        <div class="box-qualification">
            CEO of The Bluesky Group; Founder of Gravitas Holding (Pte) Limited;
            Author of "How to ICO/ITO in Singapore";
        </div>
    </div>
</li>

Консультанты по юридическим вопросам

<li>
    <div class="box-img">
        <img class="lazyload" src="/images/advisers/machihin.png" alt="">
        <a href="https://www.linkedin.com/in/dmitry-machikhin-56282a77/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Дмитрий Мачихин</div>
        <div class="box-qualification">Partner GMT Legal</div>
    </div>
</li>


Команда TravelChain


<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/orlov.png" alt="">
        <a href="https://www.linkedin.com/in/ilya-orlov-0123ba80" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="box-name">Илья Орлов</div>
    <div class="box-qualification">CEO/Co-Founder</div>
    <div class="box-info">Ответственен за корпоративное управление и стратегический менеджмент.
        Богатый
        управленческий опыт в маленьких и крупных предприятиях с численностью персонала в подчинении
        до 450
        человек
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/muraviev.png" alt="">
        <a href="https://www.linkedin.com/in/alex-ant-89b664154/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="box-name">Алексей Mуравьев</div>
    <div class="box-qualification">Architect/Co-Founder</div>
    <div class="box-info">Блокчейн-эксперт и программист - исследователь. Магистр физики
        наноматериалов и
        оптоэлектроники. ТОП-делегат блокчейна Голос.
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/coloviev.png" alt="">
        <a href="https://www.linkedin.com/in/aleksey-soloviev-a8147727/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="box-name">Алексей Соловьев</div>
    <div class="box-qualification">Co-Founder</div>
    <div class="box-info">Серийный предприниматель с опытом более 15 лет в различных сферах:
        торговле, сфере
        услуг, строительстве. ТОП-делегат блокчейна Голос.
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/polevich.png" alt="">
        <a href="https://www.linkedin.com/in/антон-полевич-388027123/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="box-name">Антон Полевич</div>
    <div class="box-qualification">COO</div>
    <div class="box-info">Креативный продюсер, scrum мастер и предприниматель с опытом в it сфере более 7 лет.
    </div>
</li>

other

<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/kolonin.png" alt="">
        <a href="https://www.facebook.com/akolonin" target="_blank" class="btn btn-red box-icon">
            <i class="icon icon-middle icon-facebook"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Антон Колонин</div>
        <div class="box-qualification">AI, BigData Expert</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/anikin.png" alt="">
        <a href="https://www.linkedin.com/in/yuryanikin/" target="_blank" class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Юрий Аникин</div>
        <div class="box-qualification">Ontology Analyst</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/pasha.png" alt="">
        <a href="https://facebook.com/dorozhkin.pavel.9" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-facebook"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Павел Дорожкин</div>
        <div class="box-qualification">Team Lead, Back-end
            Developer
        </div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/chanchikov.png" alt="">
        <a href="https://www.linkedin.com/in/konstantin-chanchikov-3ba5a4154/" target="_blank" class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Константин Чанчиков</div>
        <div class="box-qualification">System Architect</div>
    </div>
</li>

<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/alex.png" alt="">
        <a href="https://www.linkedin.com/in/aleksey-pchelin/" target="_blank" class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Алексей Пчелин</div>
        <div class="box-qualification">Web product manager</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/uvarov.png" alt="">
        <a href="https://www.linkedin.com/in/max-uvarov-45b843122/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Максим Уваров</div>
        <div class="box-qualification">Digital Producer</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/petrov.png" alt="">
        <a href="https://www.linkedin.com/in/alexandr-petrov-024a2179/" target="_blank" class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Александр Петров</div>
        <div class="box-qualification">CMO</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/sezemov.png" alt="">
        <a href="https://www.linkedin.com/in/sezemov/" target="_blank" class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Михаил Сезёмов</div>
        <div class="box-qualification">Marketing Manager</div>
    </div>
</li>

<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/baranova.png" alt="">
        <a href="https://www.linkedin.com/in/vlrbaranova/" target="_blank" class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Валерия Баранова</div>
        <div class="box-qualification">Head of SMM</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/ufaev.png" alt="">
        <a href="https://www.linkedin.com/in/roman-ufaev-454233151/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Роман Уфаев</div>
        <div class="box-qualification">Head of Media Integration and Traffic</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/seleznev.png" alt="">
        <a href="https://www.linkedin.com/in/dmitrycom/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Дмитрий Селезнев</div>
        <div class="box-qualification">Graphic Designer</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/begunov.png" alt="">
        <a href="https://www.linkedin.com/in/ivan-begunov-387734103/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Иван Бегунов</div>
        <div class="box-qualification">Chief Business Development Officer</div>
    </div>
</li>

<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/lagutin.png" alt="">
        <a href="https://www.linkedin.com/in/dmitry-lagutin-1897b6154/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Дмитрий Лагутин</div>
        <div class="box-qualification">Investor Relations</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/logvin.png" alt="">
        <a href="https://www.linkedin.com/in/sergei-logvin-2914bb52" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Сергей Логвин</div>
        <div class="box-qualification">HR Manager</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/dima-kin.png" alt="">
        <a href="https://www.facebook.com/profile.php?id=100001654368700" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-facebook"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Дмитрий Кин</div>
        <div class="box-qualification">Lead Editor</div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/vlasova.png" alt="">
        <a href="https://www.linkedin.com/in/катерина-власова-546513152/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Екатерина Власова</div>
        <div class="box-qualification">Copywriter</div>
    </div>
</li>

<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/asia.png" alt="">
        <a href="https://www.linkedin.com/in/anastasia-razmakhnina-208742154/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Анастасия Размахнина</div>
        <div class="box-qualification">Head of Community
            Management
        </div>
    </div>
</li>
<li>
    <div class="box-img">
        <img class="lazyload" src="/images/team/matveev-tim.png" alt="">
        <a href="https://www.linkedin.com/in/timofey-matveev-4a4415151/" target="_blank"
           class="btn btn-red box-icon">
            <i class="icon icon-middle icon-in"></i>
        </a>
    </div>
    <div class="content">
        <div class="box-name">Тимофей Матвеев</div>
        <div class="box-qualification">Community Manager</div>
    </div>
</li>