/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-1_1 {
  background-image: url(sprite.png);
  background-position: -40px -57px;
  width: 18px;
  height: 15px;
}
.icon-1_2 {
  background-image: url(sprite.png);
  background-position: -59px -74px;
  width: 18px;
  height: 13px;
}
.icon-1_3 {
  background-image: url(sprite.png);
  background-position: 0px -74px;
  width: 18px;
  height: 14px;
}
.icon-1_4 {
  background-image: url(sprite.png);
  background-position: 0px -19px;
  width: 18px;
  height: 17px;
}
.icon-1_5 {
  background-image: url(sprite.png);
  background-position: -79px -48px;
  width: 18px;
  height: 14px;
}
.icon-1_6 {
  background-image: url(sprite.png);
  background-position: -40px 0px;
  width: 18px;
  height: 17px;
}
.icon-1_7 {
  background-image: url(sprite.png);
  background-position: -99px -38px;
  width: 14px;
  height: 17px;
}
.icon-1_8 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 18px;
  height: 17px;
}
.icon-1_9 {
  background-image: url(sprite.png);
  background-position: -115px -17px;
  width: 15px;
  height: 15px;
}
.icon-2_1 {
  background-image: url(sprite.png);
  background-position: -20px -57px;
  width: 18px;
  height: 15px;
}
.icon-2_2 {
  background-image: url(sprite.png);
  background-position: -79px -74px;
  width: 18px;
  height: 13px;
}
.icon-2_3 {
  background-image: url(sprite.png);
  background-position: -79px -16px;
  width: 18px;
  height: 14px;
}
.icon-2_4 {
  background-image: url(sprite.png);
  background-position: -40px -19px;
  width: 18px;
  height: 17px;
}
.icon-2_5 {
  background-image: url(sprite.png);
  background-position: -20px -74px;
  width: 18px;
  height: 14px;
}
.icon-2_6 {
  background-image: url(sprite.png);
  background-position: -20px 0px;
  width: 18px;
  height: 17px;
}
.icon-2_7 {
  background-image: url(sprite.png);
  background-position: -99px -19px;
  width: 14px;
  height: 17px;
}
.icon-2_8 {
  background-image: url(sprite.png);
  background-position: -20px -19px;
  width: 18px;
  height: 17px;
}
.icon-2_9 {
  background-image: url(sprite.png);
  background-position: -115px -34px;
  width: 15px;
  height: 15px;
}
.icon-3_1 {
  background-image: url(sprite.png);
  background-position: 0px -57px;
  width: 18px;
  height: 15px;
}
.icon-3_2 {
  background-image: url(sprite.png);
  background-position: 0px -90px;
  width: 18px;
  height: 13px;
}
.icon-3_3 {
  background-image: url(sprite.png);
  background-position: -79px 0px;
  width: 18px;
  height: 14px;
}
.icon-3_4 {
  background-image: url(sprite.png);
  background-position: 0px -38px;
  width: 18px;
  height: 17px;
}
.icon-3_5 {
  background-image: url(sprite.png);
  background-position: -79px -32px;
  width: 18px;
  height: 14px;
}
.icon-3_6 {
  background-image: url(sprite.png);
  background-position: -40px -38px;
  width: 18px;
  height: 17px;
}
.icon-3_7 {
  background-image: url(sprite.png);
  background-position: -99px 0px;
  width: 14px;
  height: 17px;
}
.icon-3_8 {
  background-image: url(sprite.png);
  background-position: -20px -38px;
  width: 18px;
  height: 17px;
}
.icon-3_9 {
  background-image: url(sprite.png);
  background-position: -115px 0px;
  width: 15px;
  height: 15px;
}
.icon-4_1 {
  background-image: url(sprite.png);
  background-position: -60px -57px;
  width: 17px;
  height: 14px;
}
.icon-4_2 {
  background-image: url(sprite.png);
  background-position: -39px -90px;
  width: 17px;
  height: 13px;
}
.icon-4_3 {
  background-image: url(sprite.png);
  background-position: -20px -90px;
  width: 17px;
  height: 13px;
}
.icon-4_4 {
  background-image: url(sprite.png);
  background-position: -60px 0px;
  width: 17px;
  height: 17px;
}
.icon-4_5 {
  background-image: url(sprite.png);
  background-position: -40px -74px;
  width: 17px;
  height: 14px;
}
.icon-4_6 {
  background-image: url(sprite.png);
  background-position: -60px -19px;
  width: 17px;
  height: 17px;
}
.icon-4_7 {
  background-image: url(sprite.png);
  background-position: -115px -51px;
  width: 13px;
  height: 17px;
}
.icon-4_8 {
  background-image: url(sprite.png);
  background-position: -60px -38px;
  width: 17px;
  height: 16px;
}
.icon-4_9 {
  background-image: url(sprite.png);
  background-position: -115px -70px;
  width: 14px;
  height: 14px;
}
