@color_black: #232324;
@color_green: #6cc372;
@color_grey: #f0f0f0;
@color_red: #eb4f4e;

//----style------
.block-flex {
  &-center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
  }
  &-top {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  &-bottom {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }
}

.block_14 .flex_right .wrap .video_next {
  display: none;
}

.block-slide-header {
  padding: 0 35px 80px 35px;
}

// media---------
@media (max-width: 1400px) {
  .block_2 {
    .flex_left {
      .wrap {
        .text {
          max-width: 100%;
          width: 100%;
          &.text_2 {
            margin-left: 0;
          }
        }
      }
    }
  }

  .container .social_right_line .wrap {
    right: 5px !important;
  }
}

@media (max-width: 1200px) {
  .container {
    .top_line {
      .menu.scroll {
        position: fixed;
        top: 10px;
        right: 10px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .top_line .menu_right a {
    color: #8f8f90 !important;
  }

  .block_1 {
    .flex_right {
      padding-bottom: 50px !important;
    }
    .flex_left {
      .wrap {
        padding-top: 60px !important;
        .block_img_2 {
          margin-bottom: 60px;
        }
      }
    }
  }

  section {

    .block_2 {
      .section-img {
        display: none;
      }
      .flex_left {
        background-image: url(../img/bg_block_3_left.jpg);
      }
    }
    .block_3 .flex_right .wrap {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .block_4 .flex_left .wrap {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .block_6 .flex_right .wrap {
      padding-top: 60px;
      padding-bottom: 80px;
    }
    .block_8 {
      .flex_right .wrap {
        padding-top: 60px;
      }
      .flex_left .wrap {
        padding-top: 60px;
        padding-bottom: 70px;
      }
    }
    .block_9 {
      .wrapper {
        h2 {
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    }
    .block_10 {
      .section-img {
        display: none;
      }
      .flex_left {
        background-image: url(../img/Bitmap.png);
        padding-top: 60px;
        .wrap {
          padding-top: 0;
          padding-bottom: 40px;
        }
      }
      .flex_right .wrap {
        padding-top: 60px;
      }
    }
    .block_11 {
      .flex_left {
        background-color: #ffffff;

      }
      .section-img {
        left: 0 !important;
        width: 100%;
      }
    }
  }

  .block_14 {
    .flex_left {
      padding-bottom: 30px;
    }
  }

  .block_15 {
    .flex_left {
      background-color: #ffffff;
    }
  }

  #id12 {

    .flex_right {
      padding-bottom: 30px;
      div {
        max-width: 605px;
        margin-top: 0;
        margin-left: calc(12.5% + 0px);
        margin-right: calc(12.5% + 0px);
        a {
          display: inline-block;
          padding-right: 20px;
          img {
            margin-bottom: 27px;
          }
        }
      }
    }

  }

  .social_right_line {
    &.wrapper {
      display: none !important;
    }
  }

  .block_12 .flex_left .circle {
    &.circle2 {
      .wrap {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }

  body {
    &.p_opened {
      overflow: hidden;
      .popup {
        ul {
          li {
            &:hover {
              background: none !important;
            }
            a {
              span {
                font-size: 16px;
                letter-spacing: 0;
              }
              p {
                color: #e9e9e9;
              }
            }
            &.social {
              .item {
                padding: 0 15px;
                a {
                  display: inline-block !important;
                  padding: 0 !important;
                  margin-right: 15px;
                  margin-left: 0;
                  &:nth-child(1) {
                    background: url(../img/social.png) -40px -57px;
                    width: 18px;
                    height: 15px;
                    margin-left: 90px;
                  }
                  &:nth-child(2) {
                    background: url(../img/social.png) -59px -74px;
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(3) {
                    background: url(../img/social.png) 0 -74px;
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(4) {
                    background: url(../img/social.png) 0 -19px;
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(5) {
                    background: url(../img/social.png) -79px -48px;
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(6) {
                    background: url(../img/social.png) -40px 0;
                    width: 18px;
                    height: 17px;
                    display: block;
                  }
                  &:nth-child(7) {
                    background: url(../img/social.png) -99px -38px;
                    width: 14px;
                    height: 17px;
                    margin-left: 2px;
                  }
                  &:nth-child(8) {
                    background: url(../img/social.png);
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(9) {
                    background: url(../img/social.png) -115px -17px;
                    width: 15px;
                    height: 15px;
                    margin-left: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .block-slide-header {
    padding: 0 0 50px 0;
  }

  header {
    &.active .text h1 {
      margin-bottom: 20px;
    }
    .text {
      padding-bottom: 100px !important;
      .header_text {
        position: absolute;
        bottom: 20px;
      }
      h2 {
        margin-bottom: 20px !important;
      }
      form {
        margin-right: 0 !important;
      }
    }
  }

}

@media (max-width: 700px) {
  body {
    &.p_opened {
      overflow: hidden;
      .top_line {
        position: fixed;
        .show-mobile {
          display: block;
        }
        .menu_right {
          margin-right: 0;
          //top: 58px;
          text-align: right;
          .show-mobile {
            margin: -26px 45px 22px 0;
          }
          .lang {
            padding-bottom: 2px;
            .box-dropdown {
              display: inline-block;
              vertical-align: top;
            }
          }
          a {
            color: #8f8f90;
          }
          a:last-child {
            letter-spacing: 1px;
          }
        }
      }
      .popup {
        ul {
          li {
            &:hover {
              background: none !important;
            }
            a {
              span {
                font-size: 14px;
                letter-spacing: 0;
              }
              p {
                color: #e9e9e9;
              }
            }
            &.social {
              padding-top: 8px;
              .item {
                padding: 0 15px;
                display: flex;
                justify-content: space-between;
                a {
                  display: inline-block !important;
                  padding: 0 !important;
                  margin-right: 6px;
                  &:nth-child(1) {
                    background: url(../img/social.png) -40px -57px;
                    width: 18px;
                    height: 15px;
                    margin-left: 0 !important;
                  }
                  &:nth-child(2) {
                    background: url(../img/social.png) -59px -74px;
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(3) {
                    background: url(../img/social.png) 0 -74px;
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(4) {
                    background: url(../img/social.png) 0 -19px;
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(5) {
                    background: url(../img/social.png) -79px -48px;
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(6) {
                    background: url(../img/social.png) -40px 0;
                    width: 18px;
                    height: 17px;
                    display: block;
                  }
                  &:nth-child(7) {
                    background: url(../img/social.png) -99px -38px;
                    width: 14px;
                    height: 17px;
                    margin-left: 2px;
                  }
                  &:nth-child(8) {
                    background: url(../img/social.png);
                    width: 18px;
                    height: 15px;
                  }
                  &:nth-child(9) {
                    background: url(../img/social.png) -115px -17px;
                    width: 15px;
                    height: 15px;
                    margin-left: 2px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    .top_line {
      .wrap {
        margin-top: 0;
        .logo {
          margin-top: 10px;
        }
      }
      .menu {
        transform: scale(0.75) !important;
        transform-origin: 100% 0;
        -webkit-transform: scale(0.75) !important;
        -webkit-transform-origin: 100% 0;
        &.scroll {
          right: 10px;
        }
      }
    }

  }

  section {
    .block_12 {
      .flex_left {
        padding-top: 190px;
        padding-bottom: 190px;
        padding-right: 10px;
        padding-left: 10px;
        .wrap {
          .item {
            margin-bottom: 5px;
            .dot {
              position: absolute;
            }
          }
          .container {
            max-width: 300px;
            margin: 0 auto;
          }
        }
      }
    }
    .block_13 ul {
      min-height: 440px;
    }
  }

  .block_10 .flex_right .wrap ul li .green {
    font-size: 12px !important;
  }

  footer .text {
    margin-left: calc(0% + 15px) !important;
    margin-right: calc(0% + 15px) !important;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
  }

  #id12 .flex_right div {
    margin-left: calc(0% + 15px) !important;
    margin-right: calc(0% + 15px) !important;
  }
  .block-slide-header {
    h2{
      font-size: 22px !important;
    }
    .controls{
      font-size: 20px!important;
      .count span,
      .count ins{
        width: 20px!important;
      }
      .arrs {
        margin-left: 0!important;
        button.prev {
          margin-bottom: 15px!important;
        }
      }
    }
  }
  .block_14 {
    .flex_left{
      .block-slide-header{
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .controls {
      margin-left: 0 !important;
    }
    h2 {
      //margin-left: calc(5% + 0px) !important;
      //margin-bottom: 30px!important;
    }
    .flex_left {
      padding-top: 30px !important;
      .wrap {
        padding-left: 0;
        padding-right: 0;
        .carousel {
          .slide {
            ul li {
              height: 350px;
              .activity {
                .image {
                  padding: 10px;
                  height: 100px;
                  line-height: 100px;
                  img {
                    max-width: 80%;
                  }
                }
                .quote {
                  padding: 10px 10px;
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }

  .block_13 {
    h2 {
      //margin-bottom: 20px !important;
    }
    .controls {
      margin-left: 0 !important;
    }
    .flex_right {
      .wrap {
        padding-top: 30px !important;
        padding-bottom: 0 !important;
      }
    }
  }

  .block_14 {
    .flex_right {
      padding-top: 30px !important;
      .wrap ul {
        margin-left: 0 !important;
        margin-right: 0 !important;

      }
    }

  }
  section .block_8 .flex_right .wrap {
    padding-top: 0!important;
  }


  .block_3 .flex_left {
    ul {
      li {
        i{
          width: 90px!important;
        }
        ins {
          margin-right: 15px!important;
          font-size: 14px!important;
        }
      }
    }
  }
  .block_15 {
    .flex_left {
      .wrap {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        h2 {
          line-height: 40px !important;
          font-size: 25px !important;
          margin-bottom: 14px !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
        .acardion {
          li span {
            font-size: 16px !important;
            margin-left: 10px !important;
            margin-right: 10px !important;
          }
        }
      }
    }
    .flex_right {
      ul {
        margin-top: 30px !important;
      }
      .acardion {
        li span {
          font-size: 16px !important;
          margin-left: 10px !important;
          margin-right: 10px !important;
        }
      }
    }

  }

  .block_2 .flex_left .wrap .text {
    .top {
      margin-bottom: 16px !important;
    }
    .bot {
      margin-top: 10px !important;
      &:before {
        top: -15px !important;
      }
    }
  }

  .block_2 .flex_left .wrap .text_2 .bot:before {
    left: 50px !important;
    top: -16px !important;
  }

  .block_3 .flex_left ul li {
    .text {
      margin-left: 15px !important;
    }
    span {

      line-height: 12px !important;;
      font-size: 12px !important;;
    }
  }

  .block_13 .flex_right .wrap ul li {
    margin-left: calc(0% + 5px) !important;
    margin-right: calc(0% + 5px) !important;
  }

  .controls {
    //padding-bottom: 15px !important;
  }
}

@media (min-width: 451px) {
  .img-desk {
    display: block;
  }

  .img-mob {
    display: none;
  }
}

@media (max-width: 450px) {
  .block_15 ul li {
    padding: 20px 0 !important;
  }

  #id12 .flex_right div a {
    display: inline-block;
    padding-right: 15px !important;
  }

  section .block_12 .flex_left {
    padding-top: 30px;
    padding-bottom: 30px;
    .circle {
      text-align: center;
      img {
        position: relative;
        max-width: 60%;
        margin: 15px auto;
      }
      .wrap {
        text-align: left !important;
      }
    }
  }

  .img-desk {
    display: none;
  }

  .img-mob {
    display: block;
  }
}

@media (max-width: 321px) {
  header .slide_img {
    left: 0 !important;
    width: 100% !important;
    height: 100%;
  }

  header .flex_left {
    background: none !important;
  }
}