@columns: 16;
@offset: 0px;
@offset_one_side: (@offset / 2);
@atom: (100% / @columns);

@break_w1400: 1400px;
@break_w1300: 1300px;
@break_w1200: 1200px;
@break_w1160: 1160px;
@break_w1100: 1100px;
@break_w1000: 1000px;
@break_w900: 900px;
@break_w800: 800px;
@break_w700: 700px;
@break_w600: 600px;
@break_w500: 500px;
@break_w400: 400px;
@break_w320: 320px;

.reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

.wrapper(){
    max-width: 1440px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;

    @media screen and (max-width: @break_w1400){
        padding-left: 0px;
        padding-right: 0px;

    }

    @media screen and (max-width: @break_w1300){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w1200){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w1160){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w1100){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w1000){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w900){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w800){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w700){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w600){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w500){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w400){
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: @break_w320){
        padding-left: 0px;
        padding-right: 0px;
    }
}
.row-flex(){
    display: flex;
    flex-wrap: wrap;
    margin-left: (@offset_one_side * -1);
    margin-right: (@offset_one_side * -1);
}
.row-float(){
    margin-left: (@offset_one_side * -1);
    margin-right: (@offset_one_side * -1);
    .clearfix();
}
.col(){
    box-sizing: border-box;
    margin-left: @offset_one_side;
    margin-right: @offset_one_side;
    word-wrap: break-word;
}
.col-float(){
    float: left;
}
.col-padding(){
    padding-left: @offset_one_side;
    padding-right: @offset_one_side;
    word-wrap: break-word;
}
.size(@n){
    @value: @atom * @n;
    width: ~"calc(@{value} - @{offset})";
}
.offset(@n){
    @value: @atom * @n;
    margin-left: ~"calc(@{value} + @{offset_one_side})";
    margin-right: ~"calc(@{value} + @{offset_one_side})";
}
.offset-left(@n){
    @value: @atom * @n;
    margin-left: ~"calc(@{value} + @{offset_one_side})";
}
.offset-right(@n){
    @value: @atom * @n;
    margin-right: ~"calc(@{value} + @{offset_one_side})";
}
.offset-padding(@n){
    @value: @atom * @n;
    padding-left: ~"calc(@{value} + @{offset_one_side})";
    padding-right: ~"calc(@{value} + @{offset_one_side})";
}
.offset-left-padding(@n){
    @value: @atom * @n;
    padding-left: ~"calc(@{value} + @{offset_one_side})";
}
.offset-right-padding(@n){
    @value: @atom * @n;
    padding-right: ~"calc(@{value} + @{offset_one_side})";
}
.justify-content(@value){
    justify-content: @value;
}
.align-items(@value){
    align-items: @value;
}
.align-content(@value){
    align-content: @value;
}
.align-self(@value){
    align-self: @value;
}
.order(@value){
    order: @value;
}
.flex(@value){
    flex: @value;
}
.flex-grow(@value){
    flex-grow: @value;
}
.flex-shrink(@value){
    flex-shrink: @value;
}
.flex-basis(@value){
    flex-basis: @value;
}
.flex-direction(@value){
    flex-direction: @value;
}
.flex-wrap(@value){
    flex-wrap: @value;
}
.flex-flow(@value){
    flex-flow: @value;
}
.float(@value){
    float: @value;
}
.size-w1400(@n){
    @media screen and (max-width: @break_w1400){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w1400(@n){
    @media screen and (max-width: @break_w1400){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w1400(@n){
    @media screen and (max-width: @break_w1400){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w1400(@n){
    @media screen and (max-width: @break_w1400){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w1400(@n){
    @media screen and (max-width: @break_w1400){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w1400(@n){
    @media screen and (max-width: @break_w1400){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w1400(@n){
    @media screen and (max-width: @break_w1400){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w1400(@value){
    @media screen and (max-width: @break_w1400){
        justify-content: @value;
    }
}
.align-items-w1400(@value){
    @media screen and (max-width: @break_w1400){
        align-items: @value;
    }
}
.align-content-w1400(@value){
    @media screen and (max-width: @break_w1400){
        align-content: @value;
    }
}
.align-self-w1400(@value){
    @media screen and (max-width: @break_w1400){
        align-self: @value;
    }
}
.order-w1400(@value){
    @media screen and (max-width: @break_w1400){
        order: @value;
    }
}
.flex-w1400(@value){
    @media screen and (max-width: @break_w1400){
        flex: @value;
    }
}
.flex-grow-w1400(@value){
    @media screen and (max-width: @break_w1400){
        flex-grow: @value;
    }
}
.flex-shrink-w1400(@value){
    @media screen and (max-width: @break_w1400){
        flex-shrink: @value;
    }
}
.flex-basis-w1400(@value){
    @media screen and (max-width: @break_w1400){
        flex-basis: @value;
    }
}
.flex-direction-w1400(@value){
    @media screen and (max-width: @break_w1400){
        flex-direction: @value;
    }
}
.flex-wrap-w1400(@value){
    @media screen and (max-width: @break_w1400){
        flex-wrap: @value;
    }
}
.flex-flow-w1400(@value){
    @media screen and (max-width: @break_w1400){
        flex-flow: @value;
    }
}
.float-w1400(@value){
    @media screen and (max-width: @break_w1400){
        float: @value;
    }
}
.w1400(@name, @value){
    @media screen and (max-width: @break_w1400){
        @{name}: @value;
    }
}
.w1400-block(@content){
    @media screen and (max-width: @break_w1400){
        @content();
    }
}
.size-w1300(@n){
    @media screen and (max-width: @break_w1300){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w1300(@n){
    @media screen and (max-width: @break_w1300){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w1300(@n){
    @media screen and (max-width: @break_w1300){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w1300(@n){
    @media screen and (max-width: @break_w1300){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w1300(@n){
    @media screen and (max-width: @break_w1300){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w1300(@n){
    @media screen and (max-width: @break_w1300){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w1300(@n){
    @media screen and (max-width: @break_w1300){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w1300(@value){
    @media screen and (max-width: @break_w1300){
        justify-content: @value;
    }
}
.align-items-w1300(@value){
    @media screen and (max-width: @break_w1300){
        align-items: @value;
    }
}
.align-content-w1300(@value){
    @media screen and (max-width: @break_w1300){
        align-content: @value;
    }
}
.align-self-w1300(@value){
    @media screen and (max-width: @break_w1300){
        align-self: @value;
    }
}
.order-w1300(@value){
    @media screen and (max-width: @break_w1300){
        order: @value;
    }
}
.flex-w1300(@value){
    @media screen and (max-width: @break_w1300){
        flex: @value;
    }
}
.flex-grow-w1300(@value){
    @media screen and (max-width: @break_w1300){
        flex-grow: @value;
    }
}
.flex-shrink-w1300(@value){
    @media screen and (max-width: @break_w1300){
        flex-shrink: @value;
    }
}
.flex-basis-w1300(@value){
    @media screen and (max-width: @break_w1300){
        flex-basis: @value;
    }
}
.flex-direction-w1300(@value){
    @media screen and (max-width: @break_w1300){
        flex-direction: @value;
    }
}
.flex-wrap-w1300(@value){
    @media screen and (max-width: @break_w1300){
        flex-wrap: @value;
    }
}
.flex-flow-w1300(@value){
    @media screen and (max-width: @break_w1300){
        flex-flow: @value;
    }
}
.float-w1300(@value){
    @media screen and (max-width: @break_w1300){
        float: @value;
    }
}
.w1300(@name, @value){
    @media screen and (max-width: @break_w1300){
        @{name}: @value;
    }
}
.w1300-block(@content){
    @media screen and (max-width: @break_w1300){
        @content();
    }
}
.size-w1200(@n){
    @media screen and (max-width: @break_w1200){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w1200(@n){
    @media screen and (max-width: @break_w1200){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w1200(@n){
    @media screen and (max-width: @break_w1200){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w1200(@n){
    @media screen and (max-width: @break_w1200){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w1200(@n){
    @media screen and (max-width: @break_w1200){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w1200(@n){
    @media screen and (max-width: @break_w1200){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w1200(@n){
    @media screen and (max-width: @break_w1200){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w1200(@value){
    @media screen and (max-width: @break_w1200){
        justify-content: @value;
    }
}
.align-items-w1200(@value){
    @media screen and (max-width: @break_w1200){
        align-items: @value;
    }
}
.align-content-w1200(@value){
    @media screen and (max-width: @break_w1200){
        align-content: @value;
    }
}
.align-self-w1200(@value){
    @media screen and (max-width: @break_w1200){
        align-self: @value;
    }
}
.order-w1200(@value){
    @media screen and (max-width: @break_w1200){
        order: @value;
    }
}
.flex-w1200(@value){
    @media screen and (max-width: @break_w1200){
        flex: @value;
    }
}
.flex-grow-w1200(@value){
    @media screen and (max-width: @break_w1200){
        flex-grow: @value;
    }
}
.flex-shrink-w1200(@value){
    @media screen and (max-width: @break_w1200){
        flex-shrink: @value;
    }
}
.flex-basis-w1200(@value){
    @media screen and (max-width: @break_w1200){
        flex-basis: @value;
    }
}
.flex-direction-w1200(@value){
    @media screen and (max-width: @break_w1200){
        flex-direction: @value;
    }
}
.flex-wrap-w1200(@value){
    @media screen and (max-width: @break_w1200){
        flex-wrap: @value;
    }
}
.flex-flow-w1200(@value){
    @media screen and (max-width: @break_w1200){
        flex-flow: @value;
    }
}
.float-w1200(@value){
    @media screen and (max-width: @break_w1200){
        float: @value;
    }
}
.w1200(@name, @value){
    @media screen and (max-width: @break_w1200){
        @{name}: @value;
    }
}
.w1200-block(@content){
    @media screen and (max-width: @break_w1200){
        @content();
    }
}
.size-w1160(@n){
    @media screen and (max-width: @break_w1160){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w1160(@n){
    @media screen and (max-width: @break_w1160){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w1160(@n){
    @media screen and (max-width: @break_w1160){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w1160(@n){
    @media screen and (max-width: @break_w1160){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w1160(@n){
    @media screen and (max-width: @break_w1160){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w1160(@n){
    @media screen and (max-width: @break_w1160){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w1160(@n){
    @media screen and (max-width: @break_w1160){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w1160(@value){
    @media screen and (max-width: @break_w1160){
        justify-content: @value;
    }
}
.align-items-w1160(@value){
    @media screen and (max-width: @break_w1160){
        align-items: @value;
    }
}
.align-content-w1160(@value){
    @media screen and (max-width: @break_w1160){
        align-content: @value;
    }
}
.align-self-w1160(@value){
    @media screen and (max-width: @break_w1160){
        align-self: @value;
    }
}
.order-w1160(@value){
    @media screen and (max-width: @break_w1160){
        order: @value;
    }
}
.flex-w1160(@value){
    @media screen and (max-width: @break_w1160){
        flex: @value;
    }
}
.flex-grow-w1160(@value){
    @media screen and (max-width: @break_w1160){
        flex-grow: @value;
    }
}
.flex-shrink-w1160(@value){
    @media screen and (max-width: @break_w1160){
        flex-shrink: @value;
    }
}
.flex-basis-w1160(@value){
    @media screen and (max-width: @break_w1160){
        flex-basis: @value;
    }
}
.flex-direction-w1160(@value){
    @media screen and (max-width: @break_w1160){
        flex-direction: @value;
    }
}
.flex-wrap-w1160(@value){
    @media screen and (max-width: @break_w1160){
        flex-wrap: @value;
    }
}
.flex-flow-w1160(@value){
    @media screen and (max-width: @break_w1160){
        flex-flow: @value;
    }
}
.float-w1160(@value){
    @media screen and (max-width: @break_w1160){
        float: @value;
    }
}
.w1160(@name, @value){
    @media screen and (max-width: @break_w1160){
        @{name}: @value;
    }
}
.w1160-block(@content){
    @media screen and (max-width: @break_w1160){
        @content();
    }
}
.size-w1100(@n){
    @media screen and (max-width: @break_w1100){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w1100(@n){
    @media screen and (max-width: @break_w1100){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w1100(@n){
    @media screen and (max-width: @break_w1100){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w1100(@n){
    @media screen and (max-width: @break_w1100){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w1100(@n){
    @media screen and (max-width: @break_w1100){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w1100(@n){
    @media screen and (max-width: @break_w1100){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w1100(@n){
    @media screen and (max-width: @break_w1100){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w1100(@value){
    @media screen and (max-width: @break_w1100){
        justify-content: @value;
    }
}
.align-items-w1100(@value){
    @media screen and (max-width: @break_w1100){
        align-items: @value;
    }
}
.align-content-w1100(@value){
    @media screen and (max-width: @break_w1100){
        align-content: @value;
    }
}
.align-self-w1100(@value){
    @media screen and (max-width: @break_w1100){
        align-self: @value;
    }
}
.order-w1100(@value){
    @media screen and (max-width: @break_w1100){
        order: @value;
    }
}
.flex-w1100(@value){
    @media screen and (max-width: @break_w1100){
        flex: @value;
    }
}
.flex-grow-w1100(@value){
    @media screen and (max-width: @break_w1100){
        flex-grow: @value;
    }
}
.flex-shrink-w1100(@value){
    @media screen and (max-width: @break_w1100){
        flex-shrink: @value;
    }
}
.flex-basis-w1100(@value){
    @media screen and (max-width: @break_w1100){
        flex-basis: @value;
    }
}
.flex-direction-w1100(@value){
    @media screen and (max-width: @break_w1100){
        flex-direction: @value;
    }
}
.flex-wrap-w1100(@value){
    @media screen and (max-width: @break_w1100){
        flex-wrap: @value;
    }
}
.flex-flow-w1100(@value){
    @media screen and (max-width: @break_w1100){
        flex-flow: @value;
    }
}
.float-w1100(@value){
    @media screen and (max-width: @break_w1100){
        float: @value;
    }
}
.w1100(@name, @value){
    @media screen and (max-width: @break_w1100){
        @{name}: @value;
    }
}
.w1100-block(@content){
    @media screen and (max-width: @break_w1100){
        @content();
    }
}
.size-w1000(@n){
    @media screen and (max-width: @break_w1000){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w1000(@n){
    @media screen and (max-width: @break_w1000){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w1000(@n){
    @media screen and (max-width: @break_w1000){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w1000(@n){
    @media screen and (max-width: @break_w1000){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w1000(@n){
    @media screen and (max-width: @break_w1000){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w1000(@n){
    @media screen and (max-width: @break_w1000){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w1000(@n){
    @media screen and (max-width: @break_w1000){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w1000(@value){
    @media screen and (max-width: @break_w1000){
        justify-content: @value;
    }
}
.align-items-w1000(@value){
    @media screen and (max-width: @break_w1000){
        align-items: @value;
    }
}
.align-content-w1000(@value){
    @media screen and (max-width: @break_w1000){
        align-content: @value;
    }
}
.align-self-w1000(@value){
    @media screen and (max-width: @break_w1000){
        align-self: @value;
    }
}
.order-w1000(@value){
    @media screen and (max-width: @break_w1000){
        order: @value;
    }
}
.flex-w1000(@value){
    @media screen and (max-width: @break_w1000){
        flex: @value;
    }
}
.flex-grow-w1000(@value){
    @media screen and (max-width: @break_w1000){
        flex-grow: @value;
    }
}
.flex-shrink-w1000(@value){
    @media screen and (max-width: @break_w1000){
        flex-shrink: @value;
    }
}
.flex-basis-w1000(@value){
    @media screen and (max-width: @break_w1000){
        flex-basis: @value;
    }
}
.flex-direction-w1000(@value){
    @media screen and (max-width: @break_w1000){
        flex-direction: @value;
    }
}
.flex-wrap-w1000(@value){
    @media screen and (max-width: @break_w1000){
        flex-wrap: @value;
    }
}
.flex-flow-w1000(@value){
    @media screen and (max-width: @break_w1000){
        flex-flow: @value;
    }
}
.float-w1000(@value){
    @media screen and (max-width: @break_w1000){
        float: @value;
    }
}
.w1000(@name, @value){
    @media screen and (max-width: @break_w1000){
        @{name}: @value;
    }
}
.w1000-block(@content){
    @media screen and (max-width: @break_w1000){
        @content();
    }
}
.size-w900(@n){
    @media screen and (max-width: @break_w900){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w900(@n){
    @media screen and (max-width: @break_w900){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w900(@n){
    @media screen and (max-width: @break_w900){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w900(@n){
    @media screen and (max-width: @break_w900){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w900(@n){
    @media screen and (max-width: @break_w900){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w900(@n){
    @media screen and (max-width: @break_w900){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w900(@n){
    @media screen and (max-width: @break_w900){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w900(@value){
    @media screen and (max-width: @break_w900){
        justify-content: @value;
    }
}
.align-items-w900(@value){
    @media screen and (max-width: @break_w900){
        align-items: @value;
    }
}
.align-content-w900(@value){
    @media screen and (max-width: @break_w900){
        align-content: @value;
    }
}
.align-self-w900(@value){
    @media screen and (max-width: @break_w900){
        align-self: @value;
    }
}
.order-w900(@value){
    @media screen and (max-width: @break_w900){
        order: @value;
    }
}
.flex-w900(@value){
    @media screen and (max-width: @break_w900){
        flex: @value;
    }
}
.flex-grow-w900(@value){
    @media screen and (max-width: @break_w900){
        flex-grow: @value;
    }
}
.flex-shrink-w900(@value){
    @media screen and (max-width: @break_w900){
        flex-shrink: @value;
    }
}
.flex-basis-w900(@value){
    @media screen and (max-width: @break_w900){
        flex-basis: @value;
    }
}
.flex-direction-w900(@value){
    @media screen and (max-width: @break_w900){
        flex-direction: @value;
    }
}
.flex-wrap-w900(@value){
    @media screen and (max-width: @break_w900){
        flex-wrap: @value;
    }
}
.flex-flow-w900(@value){
    @media screen and (max-width: @break_w900){
        flex-flow: @value;
    }
}
.float-w900(@value){
    @media screen and (max-width: @break_w900){
        float: @value;
    }
}
.w900(@name, @value){
    @media screen and (max-width: @break_w900){
        @{name}: @value;
    }
}
.w900-block(@content){
    @media screen and (max-width: @break_w900){
        @content();
    }
}
.size-w800(@n){
    @media screen and (max-width: @break_w800){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w800(@n){
    @media screen and (max-width: @break_w800){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w800(@n){
    @media screen and (max-width: @break_w800){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w800(@n){
    @media screen and (max-width: @break_w800){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w800(@n){
    @media screen and (max-width: @break_w800){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w800(@n){
    @media screen and (max-width: @break_w800){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w800(@n){
    @media screen and (max-width: @break_w800){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w800(@value){
    @media screen and (max-width: @break_w800){
        justify-content: @value;
    }
}
.align-items-w800(@value){
    @media screen and (max-width: @break_w800){
        align-items: @value;
    }
}
.align-content-w800(@value){
    @media screen and (max-width: @break_w800){
        align-content: @value;
    }
}
.align-self-w800(@value){
    @media screen and (max-width: @break_w800){
        align-self: @value;
    }
}
.order-w800(@value){
    @media screen and (max-width: @break_w800){
        order: @value;
    }
}
.flex-w800(@value){
    @media screen and (max-width: @break_w800){
        flex: @value;
    }
}
.flex-grow-w800(@value){
    @media screen and (max-width: @break_w800){
        flex-grow: @value;
    }
}
.flex-shrink-w800(@value){
    @media screen and (max-width: @break_w800){
        flex-shrink: @value;
    }
}
.flex-basis-w800(@value){
    @media screen and (max-width: @break_w800){
        flex-basis: @value;
    }
}
.flex-direction-w800(@value){
    @media screen and (max-width: @break_w800){
        flex-direction: @value;
    }
}
.flex-wrap-w800(@value){
    @media screen and (max-width: @break_w800){
        flex-wrap: @value;
    }
}
.flex-flow-w800(@value){
    @media screen and (max-width: @break_w800){
        flex-flow: @value;
    }
}
.float-w800(@value){
    @media screen and (max-width: @break_w800){
        float: @value;
    }
}
.w800(@name, @value){
    @media screen and (max-width: @break_w800){
        @{name}: @value;
    }
}
.w800-block(@content){
    @media screen and (max-width: @break_w800){
        @content();
    }
}
.size-w700(@n){
    @media screen and (max-width: @break_w700){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w700(@n){
    @media screen and (max-width: @break_w700){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w700(@n){
    @media screen and (max-width: @break_w700){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w700(@n){
    @media screen and (max-width: @break_w700){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w700(@n){
    @media screen and (max-width: @break_w700){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w700(@n){
    @media screen and (max-width: @break_w700){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w700(@n){
    @media screen and (max-width: @break_w700){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w700(@value){
    @media screen and (max-width: @break_w700){
        justify-content: @value;
    }
}
.align-items-w700(@value){
    @media screen and (max-width: @break_w700){
        align-items: @value;
    }
}
.align-content-w700(@value){
    @media screen and (max-width: @break_w700){
        align-content: @value;
    }
}
.align-self-w700(@value){
    @media screen and (max-width: @break_w700){
        align-self: @value;
    }
}
.order-w700(@value){
    @media screen and (max-width: @break_w700){
        order: @value;
    }
}
.flex-w700(@value){
    @media screen and (max-width: @break_w700){
        flex: @value;
    }
}
.flex-grow-w700(@value){
    @media screen and (max-width: @break_w700){
        flex-grow: @value;
    }
}
.flex-shrink-w700(@value){
    @media screen and (max-width: @break_w700){
        flex-shrink: @value;
    }
}
.flex-basis-w700(@value){
    @media screen and (max-width: @break_w700){
        flex-basis: @value;
    }
}
.flex-direction-w700(@value){
    @media screen and (max-width: @break_w700){
        flex-direction: @value;
    }
}
.flex-wrap-w700(@value){
    @media screen and (max-width: @break_w700){
        flex-wrap: @value;
    }
}
.flex-flow-w700(@value){
    @media screen and (max-width: @break_w700){
        flex-flow: @value;
    }
}
.float-w700(@value){
    @media screen and (max-width: @break_w700){
        float: @value;
    }
}
.w700(@name, @value){
    @media screen and (max-width: @break_w700){
        @{name}: @value;
    }
}
.w700-block(@content){
    @media screen and (max-width: @break_w700){
        @content();
    }
}
.size-w600(@n){
    @media screen and (max-width: @break_w600){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w600(@n){
    @media screen and (max-width: @break_w600){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w600(@n){
    @media screen and (max-width: @break_w600){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w600(@n){
    @media screen and (max-width: @break_w600){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w600(@n){
    @media screen and (max-width: @break_w600){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w600(@n){
    @media screen and (max-width: @break_w600){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w600(@n){
    @media screen and (max-width: @break_w600){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w600(@value){
    @media screen and (max-width: @break_w600){
        justify-content: @value;
    }
}
.align-items-w600(@value){
    @media screen and (max-width: @break_w600){
        align-items: @value;
    }
}
.align-content-w600(@value){
    @media screen and (max-width: @break_w600){
        align-content: @value;
    }
}
.align-self-w600(@value){
    @media screen and (max-width: @break_w600){
        align-self: @value;
    }
}
.order-w600(@value){
    @media screen and (max-width: @break_w600){
        order: @value;
    }
}
.flex-w600(@value){
    @media screen and (max-width: @break_w600){
        flex: @value;
    }
}
.flex-grow-w600(@value){
    @media screen and (max-width: @break_w600){
        flex-grow: @value;
    }
}
.flex-shrink-w600(@value){
    @media screen and (max-width: @break_w600){
        flex-shrink: @value;
    }
}
.flex-basis-w600(@value){
    @media screen and (max-width: @break_w600){
        flex-basis: @value;
    }
}
.flex-direction-w600(@value){
    @media screen and (max-width: @break_w600){
        flex-direction: @value;
    }
}
.flex-wrap-w600(@value){
    @media screen and (max-width: @break_w600){
        flex-wrap: @value;
    }
}
.flex-flow-w600(@value){
    @media screen and (max-width: @break_w600){
        flex-flow: @value;
    }
}
.float-w600(@value){
    @media screen and (max-width: @break_w600){
        float: @value;
    }
}
.w600(@name, @value){
    @media screen and (max-width: @break_w600){
        @{name}: @value;
    }
}
.w600-block(@content){
    @media screen and (max-width: @break_w600){
        @content();
    }
}
.size-w500(@n){
    @media screen and (max-width: @break_w500){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w500(@n){
    @media screen and (max-width: @break_w500){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w500(@n){
    @media screen and (max-width: @break_w500){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w500(@n){
    @media screen and (max-width: @break_w500){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w500(@n){
    @media screen and (max-width: @break_w500){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w500(@n){
    @media screen and (max-width: @break_w500){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w500(@n){
    @media screen and (max-width: @break_w500){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w500(@value){
    @media screen and (max-width: @break_w500){
        justify-content: @value;
    }
}
.align-items-w500(@value){
    @media screen and (max-width: @break_w500){
        align-items: @value;
    }
}
.align-content-w500(@value){
    @media screen and (max-width: @break_w500){
        align-content: @value;
    }
}
.align-self-w500(@value){
    @media screen and (max-width: @break_w500){
        align-self: @value;
    }
}
.order-w500(@value){
    @media screen and (max-width: @break_w500){
        order: @value;
    }
}
.flex-w500(@value){
    @media screen and (max-width: @break_w500){
        flex: @value;
    }
}
.flex-grow-w500(@value){
    @media screen and (max-width: @break_w500){
        flex-grow: @value;
    }
}
.flex-shrink-w500(@value){
    @media screen and (max-width: @break_w500){
        flex-shrink: @value;
    }
}
.flex-basis-w500(@value){
    @media screen and (max-width: @break_w500){
        flex-basis: @value;
    }
}
.flex-direction-w500(@value){
    @media screen and (max-width: @break_w500){
        flex-direction: @value;
    }
}
.flex-wrap-w500(@value){
    @media screen and (max-width: @break_w500){
        flex-wrap: @value;
    }
}
.flex-flow-w500(@value){
    @media screen and (max-width: @break_w500){
        flex-flow: @value;
    }
}
.float-w500(@value){
    @media screen and (max-width: @break_w500){
        float: @value;
    }
}
.w500(@name, @value){
    @media screen and (max-width: @break_w500){
        @{name}: @value;
    }
}
.w500-block(@content){
    @media screen and (max-width: @break_w500){
        @content();
    }
}
.size-w400(@n){
    @media screen and (max-width: @break_w400){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w400(@n){
    @media screen and (max-width: @break_w400){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w400(@n){
    @media screen and (max-width: @break_w400){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w400(@n){
    @media screen and (max-width: @break_w400){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w400(@n){
    @media screen and (max-width: @break_w400){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w400(@n){
    @media screen and (max-width: @break_w400){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w400(@n){
    @media screen and (max-width: @break_w400){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w400(@value){
    @media screen and (max-width: @break_w400){
        justify-content: @value;
    }
}
.align-items-w400(@value){
    @media screen and (max-width: @break_w400){
        align-items: @value;
    }
}
.align-content-w400(@value){
    @media screen and (max-width: @break_w400){
        align-content: @value;
    }
}
.align-self-w400(@value){
    @media screen and (max-width: @break_w400){
        align-self: @value;
    }
}
.order-w400(@value){
    @media screen and (max-width: @break_w400){
        order: @value;
    }
}
.flex-w400(@value){
    @media screen and (max-width: @break_w400){
        flex: @value;
    }
}
.flex-grow-w400(@value){
    @media screen and (max-width: @break_w400){
        flex-grow: @value;
    }
}
.flex-shrink-w400(@value){
    @media screen and (max-width: @break_w400){
        flex-shrink: @value;
    }
}
.flex-basis-w400(@value){
    @media screen and (max-width: @break_w400){
        flex-basis: @value;
    }
}
.flex-direction-w400(@value){
    @media screen and (max-width: @break_w400){
        flex-direction: @value;
    }
}
.flex-wrap-w400(@value){
    @media screen and (max-width: @break_w400){
        flex-wrap: @value;
    }
}
.flex-flow-w400(@value){
    @media screen and (max-width: @break_w400){
        flex-flow: @value;
    }
}
.float-w400(@value){
    @media screen and (max-width: @break_w400){
        float: @value;
    }
}
.w400(@name, @value){
    @media screen and (max-width: @break_w400){
        @{name}: @value;
    }
}
.w400-block(@content){
    @media screen and (max-width: @break_w400){
        @content();
    }
}
.size-w320(@n){
    @media screen and (max-width: @break_w320){
        @value: @atom * @n;
        width: ~"calc(@{value} - @{offset})";
    }
}
.offset-w320(@n){
    @media screen and (max-width: @break_w320){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-w320(@n){
    @media screen and (max-width: @break_w320){
        @value: @atom * @n;
        margin-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-w320(@n){
    @media screen and (max-width: @break_w320){
        @value: @atom * @n;
        margin-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-padding-w320(@n){
    @media screen and (max-width: @break_w320){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-left-padding-w320(@n){
    @media screen and (max-width: @break_w320){
        @value: @atom * @n;
        padding-left: ~"calc(@{value} + @{offset_one_side})";
    }
}
.offset-right-padding-w320(@n){
    @media screen and (max-width: @break_w320){
        @value: @atom * @n;
        padding-right: ~"calc(@{value} + @{offset_one_side})";
    }
}
.justify-content-w320(@value){
    @media screen and (max-width: @break_w320){
        justify-content: @value;
    }
}
.align-items-w320(@value){
    @media screen and (max-width: @break_w320){
        align-items: @value;
    }
}
.align-content-w320(@value){
    @media screen and (max-width: @break_w320){
        align-content: @value;
    }
}
.align-self-w320(@value){
    @media screen and (max-width: @break_w320){
        align-self: @value;
    }
}
.order-w320(@value){
    @media screen and (max-width: @break_w320){
        order: @value;
    }
}
.flex-w320(@value){
    @media screen and (max-width: @break_w320){
        flex: @value;
    }
}
.flex-grow-w320(@value){
    @media screen and (max-width: @break_w320){
        flex-grow: @value;
    }
}
.flex-shrink-w320(@value){
    @media screen and (max-width: @break_w320){
        flex-shrink: @value;
    }
}
.flex-basis-w320(@value){
    @media screen and (max-width: @break_w320){
        flex-basis: @value;
    }
}
.flex-direction-w320(@value){
    @media screen and (max-width: @break_w320){
        flex-direction: @value;
    }
}
.flex-wrap-w320(@value){
    @media screen and (max-width: @break_w320){
        flex-wrap: @value;
    }
}
.flex-flow-w320(@value){
    @media screen and (max-width: @break_w320){
        flex-flow: @value;
    }
}
.float-w320(@value){
    @media screen and (max-width: @break_w320){
        float: @value;
    }
}
.w320(@name, @value){
    @media screen and (max-width: @break_w320){
        @{name}: @value;
    }
}
.w320-block(@content){
    @media screen and (max-width: @break_w320){
        @content();
    }
}
.debug(@background, @outline){
    height: 100vh;
    position: fixed;
    width: 100%;
    
    > div{
        height: inherit;
        .wrapper();
        
        > div{
            height: inherit;
            .row-flex();
            
            > div{
                .col();
                .size(1);
                height: inherit;
                outline: @outline;
                background: @background;
            }
        }
    }
}
.clearfix(){
    &::after{
        display: block;
        content: "";
        clear: both;
    }
}
