@import "project.less";
@import "smart-grid.less";
@import "./fonts/montserrat-medium.css";
@import "./fonts/montserrat-semibold.css";
@import "./fonts/biorhymeexpanded-regular.css";
@import "./fonts/biorhymeexpanded-light.css";

.reset();

* {
  outline: 0 !important;
}

ins {
  text-decoration: none;
}

div, section {
  position: relative;
}

.wrapper {
  .wrapper();
  min-width: 320px;
}

.container {
  overflow: hidden;
  min-width: 320px;
}

h1 {
  font-size: 35px;
  line-height: 46px;
  font-family: Montserrat-Medium;
}

a {
  color: #2D2E74;
  &:hover {
    color: #308CFF;
  }
}

.btn {
  margin: 0;
  outline: 0;
  background: 0 0;
  border: 0;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  vertical-align: top;
}

section {
  transition: .05s linear;
  background: #fff;
}

.section {
  &-bg {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  &-img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    &.left {
      right: 50%;
    }
    &.right {
      left: 50%;
    }
  }
}

.section_2 {
  z-index: 1;
  background: #fff;
  // height: 0px;
}

.section_2 {
  z-index: 2;
  background: #fff;
  // height: 0px;
}

.menu_num {
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  font-family: BioRhymeExpanded-Regular;
  border-radius: 50%;
  background: black;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin: auto;
  z-index: 1;

  .w1000-block({ display: none; });

  span {
    display: block;
    margin-top: 17px;
  }
}

.wrap {
  .w1000-block({ padding-left: 15px; padding-right: 15px; .offset-left(2); .offset-right(2); });

  .w600-block({ .offset-left(0) !important; .offset-right(0) !important; });
}

.flexbox {
  display: flex;
  flex-wrap: wrap;

  .flex_left {
    width: 50%;

    .w1000-block({ width: 100%; });
  }

  .flex_right {
    width: 50%;

    .w1000-block({ width: 100%; });
  }
}

.top_line {
  z-index: 31;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

  .wrap {
    display: flex;
    justify-content: space-between;
    .offset(1);
    margin-top: 65px;
  }

  a {
    font-family: "Montserrat-Medium";
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
    text-decoration: none;

    &:visited {
      color: black;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .logo {
    display: block;
  }
  .menu_center {
    top: 10px;
    overflow: visible;
    z-index: 1;
    vertical-align: top;
    width: 690px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-20px);
    opacity: 0;

    &.active {
      transform: translateY(0px);
      opacity: 1;
      transition: .4s .5s;
    }

    a {
      text-align: center;

      &:hover {
        color: #0968DF;
        text-decoration: none;
      }

      &:nth-child(2) {
        flex-grow: 3;
      }

      &:nth-child(3) {
        font-family: "Montserrat-SemiBold";
        color: #fff;
        flex-grow: 3;

        &:hover {
          color: #0968DF;
        }
      }

      &:nth-child(4) {
        font-family: "Montserrat-SemiBold";
        color: #fff;
        margin-right: 40px;

        &:hover {
          color: #0968DF;
        }
      }
    }

    .w1200-block({ display: -ms-flexbox; display: flex; text-align: left; width: 460px; a {
      flex-grow: 0 !important;
      color: black;
      &:nth-child(3),
      &:nth-child(4) {
        color: black !important;
        font-family: "Montserrat-Medium" !important;
      }
    } });
    .w1000-block({ display: none; });

  }

  .menu_right {
    top: 10px;
    width: 162px;
    transform: translateY(-20px);
    opacity: 0;
    >a{
      &:not(:first-child){margin-left: 50px;}
    }
    &.active {
      transform: translateY(0px);
      opacity: 1;
      transition: .4s .5s;
    }

    a {
      color: #ffffff;
      overflow: visible;
      z-index: 1;

      &:hover {
        color: #0968DF;
        text-decoration: none;
      }

      &:nth-child(1) {

      }
    }
    .w1200-block({ display: -ms-flexbox; display: flex; text-align: left; margin-right: 70px; width: auto;});
    .w1000-block({ display: none; });
  }

  .menu {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    background: url("../img/img_top_line.png");
    background-position: -58px -58px;
    opacity: 0;
    transform: scale(0);

    .w1200-block({ left: auto; });
    .w800-block({
      position: fixed; top:10px;right: 10px;
    });

    &.active {
      transform: scale(1);
      opacity: 1;
      transition: .4s .7s transform;
    }

    &:hover {
      background-position: -58px 0px;
    }

    &:active {
      background-position: 0px -58px;
    }
    &.open{
      background-position: 0 0;
    }
    &.scroll {
      position: fixed;
      top: 15px;
    }
  }
  .show-mobile{
    display: none;
  }
  .logo-dark{
    width: 102px;
    height: 16px;
    background: url("../img/logo-dark.svg") no-repeat;
    display: inline-block;
    vertical-align: top;
    margin: 15px 15px 0;
  }
  .btn-purchase,.btn-tel{
    line-height: 28px;
    height: 28px;
    border-radius: 14px;
    padding: 0 8px;
    min-width:24px;
    text-align: center;
  }
  .btn-purchase{
    background: #00C582;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
  }
  a.btn-purchase{
    color: #000000!important;
  }
  .btn-tel{
    background: #3637A1;
  }

  .icon-tel{
    background: url(../img/social.png) -40px -57px;
    width: 18px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
  }
}

.social_right_line {
  z-index: 31;

  .midnightInner {
    overflow: hidden !important;
  }
  &:not(.scroll) {
    .btn-purchase {
      opacity: 0;
    }
    .wrap {
      margin-top: 65px;
    }
  }
  .wrap {
    margin-top: 0;
    -webkit-transition: margin 0.2s linear;
    transition: margin 0.4s linear;
    width: 30px;
    text-align: center;
    height: 15px;
    position: fixed;
    right: 30px !important;
    left: initial !important;
    top: 50% !important;
    z-index: 1;
    transform: translateY(-50%) translateZ(0px);
    -webkit-transform: translateY(-50%) translateZ(0px);
    a {
      margin-bottom: 28px;
      display: inline-block;
      vertical-align: top;
      width: 18px;
      height: 15px;
      background: url("../img/social.png") no-repeat;
      &.btn-purchase {
        height: 30px;
        right: 0;
        top: 0;
        cursor: pointer;
        font-family: Montserrat-SemiBold;
        background: #00C582;
        border-radius: 30px;
        border: none;
        color: white;
        font-size: 10px;
        letter-spacing: 3px;
        text-transform: uppercase;
        width: 100px;
        line-height: 30px;
        text-decoration: none;
        text-align: center;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        margin-top: 100px;
        margin-bottom: 0 !important;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        &:hover {
          background: #3e69d1;
        }
      }
      &:nth-child(1) {
        background-position: -40px -57px;

        &:hover {
          background-position: -20px -57px;
        }
      }

      &:nth-child(2) {
        background-position: -59px -73px;
        &:hover {
          background-position: -79px -73px;
        }
      }

      &:nth-child(3) {
        background-position: 0px -74px;
        &:hover {
          background-position: -79px -16px;
        }
      }

      &:nth-child(4) {
        background-position: 0px -19px;

        &:hover {
          background-position: -40px -19px;
        }
      }

      &:nth-child(5) {
        background-position: -79px -48px;
        &:hover {
          background-position: -20px -74px;
        }
      }

      &:nth-child(6) {
        background-position: -40px 0px;
        height: 17px;
        &:hover {
          background-position: -20px 0px;
        }
      }

      &:nth-child(7) {
        background-position: -99px -38px;
        width: 14px;
        height: 17px;
        margin-left: 2px;

        &:hover {
          background-position: -99px -19px;
        }
      }

      &:nth-child(8) {
        background-position: 0px 0px;
        &:hover {
          background-position: -20px -19px;
        }
      }

      &:nth-child(9) {
        background-position: -115px -17px;
        width: 15px;
        height: 15px;
        margin-left: 2px;

        &:hover {
          background-position: -115px -34px;
        }
      }
    }
    .blue {
      a {
        &:nth-child(1) {
          background-position: 0 -57px;
          &:hover {
            background-position: -20px -57px;
          }
        }

        &:nth-child(2) {
          background-position: 0 -89px;
          &:hover {
            background-position: -79px -73px;
          }
        }

        &:nth-child(3) {
          background-position: -79px 0;
          &:hover {
            background-position: -79px -16px;
          }
        }

        &:nth-child(4) {
          background-position: 0 -38px;
          &:hover {
            background-position: -40px -19px;
          }
        }

        &:nth-child(5) {
          background-position: -79px -32px;
          &:hover {
            background-position: -20px -74px;
          }
        }

        &:nth-child(6) {
          background-position: -40px -38px;
          &:hover {
            background-position: -20px 0px;
          }
        }

        &:nth-child(7) {
          background-position: -99px 0;
          &:hover {
            background-position: -99px -19px;
          }
        }

        &:nth-child(8) {
          background-position: -20px -38px;
          &:hover {
            background-position: -20px -19px;
          }
        }

        &:nth-child(9) {
          background-position: -115px 0;
          &:hover {
            background-position: -115px -34px;
          }
        }
      }
    }
  }
}

.lang {
  display: inline-block;
  vertical-align: top;
  .caret {
    width: 10px;
    height: 6px;
    background: url("../img/caret.svg") no-repeat;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .box-dropdown {
    &.open {
      .caret {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }
  &-dropdown .menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 10;
    background: #ffffff;
    margin-top: 12px;
    width: auto;
    min-width: 75px;
    text-align: left;
    line-height: normal;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    &:after {
      border-bottom: 7px solid #ffffff;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      left: 50%;
      bottom: 100%;
      content: '';
      margin-left: -15px;
    }
    a {
      display: block;
      padding: 8px 0;
      margin: 0 !important;
      font-size: 13px;
      border-bottom: 1px solid #B7B7BD;
      text-align: center;
      color: #2D2E74;
      &:last-child {
        border-bottom: 0;
      }
    }

  }
}

header {
  min-height: 810px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative;
  &.active {

    .text {

      h1 {
        transform: translateY(0px);
        opacity: 1;
        transition: .6s 0s;
      }

      h2 {
        transform: translateY(0px);
        opacity: 1;
        transition: .6s .1s;
      }

      .header_text {
        transform: translateY(0px);
        opacity: 1;
        transition: .6s .2s;
      }

      .total_token {
        transform: translateY(0px);
        opacity: 1;
        transition: .6s .3s;
      }

      .header_form {
        opacity: 1;
        transition: .6s .4s;
      }
    }
  }

  .w1000-block({ min-height: auto; });

  .menu_num {
    bottom: 85px;
    top: auto;
  }
  .slide_img {
    overflow: hidden;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    .img {
      transform: scale(1.5);
      opacity: 0;
      min-height: 100%;
      max-width: none;
    }

    &.active {
      .img {
        transform: scale(1);
        opacity: 1;
        transition: 2s;
      }
    }
    .w1000-block({
      left:0; width:100%;
      &:after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background: rgba(255, 255, 255, 0.7);
      }
    });
  }
  .flex_right {
    // background: url('../img/bitmap.jpg') 0 0 no-repeat;
    height: 810px;

    .w1000-block({ display: none; });

    .video {
      width: 270px;
      height: 270px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: url('../img/bg_video.png') 0 0 no-repeat;
      cursor: pointer;
      opacity: 0;

      &.active {
        opacity: 1;
        transition: 2s;
      }

      img {
        transition: .4s;
      }

      &:hover {
        background-position: -270px 0px;

        img {
          transform: scale(1.2);
        }
      }

      span {
        text-align: center;
        display: block;
        color: white;
        line-height: 22px;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-family: Montserrat-SemiBold;
        margin-top: 60px;
      }

      img {
        margin: auto;
        display: block;
        margin-top: 25px;
      }
    }
  }

  .flex_left {
    z-index: 1;

    .w600-block({ padding-left: 15px; padding-right: 15px; });
  }

  .text {
    .offset-left(2);
    .offset-right(2);
    display: flex;
    flex-direction: column;

    .w600-block({ .offset-left(0); .offset-right(0); padding-bottom: 30px; });

    h1 {
      // width: 1200px;
      overflow: visible;
      margin-top: 230px;
      letter-spacing: -0.205882px;
      margin-bottom: 5px;
      transform: translateY(20px);
      opacity: 0;

      .w1300-block({ width: auto; font-size: 32px; margin-top: 180px; line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; padding-right: 20px; margin-bottom: 5px; });
      .w800-block({ margin-top: 100px;});
      .w600-block({margin-top: 80px; line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; padding-right: 20px; margin-bottom: 5px; });
    }

    h2 {
      font-family: Montserrat-Medium;
      line-height: 26px;
      font-size: 18px;
      margin-bottom: 68px;
      transform: translateY(20px);
      opacity: 0;

      .w600-block({ line-height: 20px; font-size: 13px; padding-right: 80px; });
    }

    .header_text {
      transform: translateY(20px);
      opacity: 0;
    }

    .total_token {
      transform: translateY(20px);
      opacity: 0;
    }

    .header_form {
      opacity: 0;
    }

    p {
      font-family: Montserrat-Medium;
      line-height: 20px;
      font-size: 14px;
      color: #2D2E74;
      border-left: 1px solid #2D2E74;
      padding-left: 30px;

      .w600-block({ order: 5; line-height: 18px; font-size: 11px; padding-left: 15px; padding-right: 25px; });
    }

    .first {
      padding-bottom: 10px;

      .w600-block({ padding-bottom: 6px; });
    }

    i {
      font-family: Montserrat-SemiBold;
      font-weight: 600;
      line-height: 18px;
      font-size: 12px;
      letter-spacing: 0.5px;
      font-style: normal;
      text-transform: uppercase;
      display: block;
      margin-top: 28px;
      margin-bottom: 10px;

      .w600-block({ order: 1; margin-top: 2px; line-height: 18px; font-size: 10px; letter-spacing: 0.416667px; margin-bottom: 0px; });
    }

    .stat {
      span {
        color: #808080;

        i {
          display: inline-block;
          text-transform: none;
          font-family: Montserrat-Medium;
          line-height: 22px;
          font-size: 14px;
          margin-top: 0;
          margin-bottom: 0;

          .w600-block({ display: none; });
        }

        ins {
          font-family: BioRhymeExpanded-Regular;
          padding-left: 5px;
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          font-size: 14px;
          letter-spacing: -0.5px;
          text-decoration: none;

          .w600-block({ line-height: 20px; font-size: 11px; letter-spacing: -0.392857px; padding-left: 0px; });

        }
      }

      .right {
        float: right;
      }

      .progress {
        position: relative;
        height: 5px;
        overflow: hidden;
        background: #00C582;
        margin-top: 15px;
        border-radius: 5px;

        .w600-block({ margin-top: 2px; });

        .grayback {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: #B7B7BD;
          border-left: 2px solid white;
          left: 0;
          transition: 1s;
        }
      }

      .w600-block({ order: 2; });
    }

    h3 {
      font-family: Montserrat-Medium;
      line-height: 26px;
      font-size: 18px;
      margin-top: 60px;

      .w600-block({ order: 3; line-height: 20px; font-size: 14px; margin-top: 27px; padding-right: 30px; });
    }

    form {
      //.offset-right(2.7);
      position: relative;
      margin-top: 15px;

      .w1000-block({ margin-bottom: 28px; });

      .w600-block({ .offset-right(0); order: 4; margin-top: 10px; });

      input[type="email"] {
        border-radius: 30px;
        height: 45px;
        width: 90%;
        border: 1px solid #F5F5F5;
        background: linear-gradient(360deg, #F5F5F5 0%, #F0F0F0 98.48%);
        padding-left: 25px;
        font-family: Montserrat-Medium;

        .w600-block({ height: 35px; padding-left: 15px; line-height: 20px; font-size: 11px; });

        &:hover {
          background: #e4f5ed;
        }

        &:focus {
          background: #fffeff;
          border: 1px solid #e4f5ed;

          &::-webkit-input-placeholder {
            opacity: 0;
          }
        }
      }

      input[type="submit"] {
        height: 45px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 30px;
        cursor: pointer;
        font-family: Montserrat-SemiBold;
        background: #00C582;
        border-radius: 30px;
        border: none;
        color: white;
        font-size: 12px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        width: 130px;

        .w600-block({ width: 120px; height: 37px; });

        &:hover {
          background: #3e69d1;
        }

        &:active {
          background: #26272b;
        }
      }
    }
  }
}

.block_1 {

  .flex_left {
    background: #FAFAFA;
    padding-bottom: 5px;

    .w600-block({ padding-bottom: 3px; });

    &:before {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #FAFAFA;
    }

    &:after {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #FAFAFA;
      display: none;

      .w1000-block({ display: block; });
    }

    .wrap {
      .offset-left(2);
      .offset-right(1);
      padding-top: 100px;

      .w600-block({ .offset-left(0); .offset-right(0); padding-top: 33px; });

      a {
        img {
          .w600-block({ max-width: 60%; });
        }
      }

      p {
        font-family: Montserrat-Medium;
        line-height: 22px;
        font-size: 14px;
        color: #585858;
        margin-top: 40px;
        max-width: 534px;
        text-align: justify;

        .w600-block({ margin-top: 25px; line-height: 18px; font-size: 11px; });

        .w320-block({ max-width: 290px; });
      }

      .block_img_1 {
        margin-top: 45px;

        .w600-block({ margin-top: 25px; });

        img {
          margin-right: 40px;

          .w500-block({ width: 25%; margin-right: 20px; vertical-align: middle; });

          &:last-child {
            margin-right: 0;

            .w500-block({ width: 20%; margin-left: 15px; margin-top: 5px; });
          }
        }
      }

      .block_img_2 {
        margin-top: 40px;
        margin-bottom: 100px;

        .w600-block({ margin-bottom: 40px; });

        .w500-block({ margin-top: 30px; });

        img {
          align-items: center;
          margin-right: 35px;

          .w500-block({ width: 23%; margin-right: 30px; });

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .flex_right {
    background: #2d2e74;

    &:after {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #2d2e74;
    }

    &:before {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #2d2e74;
      display: none;

      .w1000-block({ display: block; });
    }

    .wrap {
      .offset-left(2);
      .offset-right(2);

      .w600-block({ .offset-left(0); .offset-right(0); });

      h3 {
        font-family: Montserrat-Medium;
        line-height: 32px;
        font-size: 24px;
        color: #FFFFFF;
        margin-top: 100px;
        margin-bottom: 35px;

        .w600-block({ line-height: 32px; font-size: 18px; margin-top: 23px; margin-bottom: 15px; });
      }

      p {
        font-family: Montserrat-SemiBold;
        margin-bottom: 25px;
        line-height: 22px;
        font-size: 14px;
        color: #FFFFFF;
        text-align: justify;
        .w600-block({ line-height: 18px; font-size: 11px; margin-bottom: 18px; &:last-child {
          margin-bottom: 28px;
        } });

        .w320-block({ max-width: 290px; });
      }
    }
  }
}

.block_2 {
  background: #fff;

  .flex_left {

    .w1000-block({ order: 2; background-size: cover; });

    .wrap {
      .offset-left(2);
      .offset-right(0);
      padding-top: 350px;
      padding-bottom: 102px;

      .w1400-block({ padding-top: 120px; padding-bottom: 0px; .offset-right(1); });

      .w1000-block({ padding-bottom: 40px; padding-top: 35px; });

      .w600-block({ .offset-right(0); .offset-left(0); });

      h3 {
        font-family: Montserrat-SemiBold;
        line-height: 25px;
        font-size: 15px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: #00C481;
        margin-bottom: -5px;

        .w600-block({ line-height: 20px; font-size: 12px; letter-spacing: 0.88px; });
      }

      .text {
        max-width: 400px;
        display: inline-block;

        ins {
          text-decoration: none;
          display: inline-block;
          font-family: BioRhymeExpanded-Light;
          line-height: 46px;
          font-size: 40px;
          letter-spacing: 2.3px;
          color: #FFFFFF;
          display: inline-block;

          .w600-block({ line-height: 40px; font-size: 28px; });
        }

        p {
          font-family: BioRhymeExpanded-Light;
          line-height: 46px;
          font-size: 40px;
          letter-spacing: 2.3px;
          color: #FFFFFF;
          display: inline-block;
          min-width: 180px;
          text-align: center;

          .w600-block({ line-height: 40px; font-size: 28px; min-width: 130px; });
        }

        span {
          font-family: Montserrat-Medium;
          line-height: 18px;
          font-size: 14px;
          color: #FFFFFF;
          display: inline-block;
          vertical-align: top;

          .w600-block({ line-height: 15px; font-size: 11px; });
        }

        .top {
          margin-bottom: 30px;
          margin-top: 35px;

          .w600-block({ margin-bottom: 6px; margin-top: 17px; });
        }

        .bot {
          &:before {
            content: '';
            position: absolute;
            left: 120px;
            top: -20px;
            width: 29px;
            height: 14px;
            background: url("../img/ico_green_arrow.png");

            .w600-block({ left: 80px; top: -10px; });
          }
        }
      }

      .text_2 {
        margin-left: 30px;

        p {
          min-width: auto;
        }

        .bot {
          &:before {
            left: 26px;
            top: -20px;

            .w600-block({ left: 50px !important; top: -15px !important; });
          }
        }
      }
    }
  }

  .flex_right {

    .w1000-block({ order: 1; });

    .wrap {
      .offset-left(2);
      .offset-right(2);
      padding-top: 100px;

      .w1300-block({ padding-top: 30px; });

      .w1000-block({ .offset-left(0);.offset-right(0); text-align: center; });

      .w600-block({ padding-top: 40px; });

      h3 {
        font-family: Montserrat-Medium;
        line-height: 46px;
        font-size: 34px;
        letter-spacing: -0.2px;
        color: #000000;
        margin-bottom: 35px;

        .w600-block({ line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; text-align: left; margin-bottom: 25px; });
      }

      .text {
        max-width: 540px;
        font-family: Montserrat-Medium;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        text-align: justify;

        .w1000-block({ margin: auto; });

        .w320-block({ line-height: 18px; font-size: 11px; text-align: left; });
      }

      .green {
        margin-top: 80px;
        display: block;
        font-family: Montserrat-SemiBold;
        color: #00C481;
        line-height: 25px;
        font-size: 15px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        margin-bottom: 35px;

        .w1300-block({ margin-top: 30px; });

        .w320-block({ text-align: left; line-height: 20px; font-size: 12px; letter-spacing: 0.88px; max-width: 250px; margin-bottom: 7px; });
      }

      i {
        font-family: Montserrat-Medium;
        line-height: 18px;
        font-size: 14px;
        color: #BFBFBF;
        display: inline-block;
        vertical-align: top;
        margin-top: 13px;
        font-style: normal;
        margin-left: 25px;
        margin-right: 15px;

        .w320-block({ margin-left: 0; margin-right: 0; margin-top: 0; display: block; line-height: 15px; font-size: 11px; text-align: left; margin-bottom: 10px; });
      }

      .stat {
        display: inline-block;
        margin-bottom: 30px;

        .w320-block({ display: block; text-align: left; margin-bottom: 10px; });

        ins {
          font-family: BioRhymeExpanded-Light;
          line-height: 46px;
          font-size: 40px;
          color: #000000;
          display: inline-block;

          .w320-block({ line-height: 40px; font-size: 28px; text-align: left; });
        }

        span {
          font-family: Montserrat-Medium;
          line-height: 18px;
          font-size: 14px;
          color: black;
          display: inline-block;
          vertical-align: top;
          margin-top: 13px;

          .w320-block({ line-height: 15px; font-size: 11px; text-align: left; });
        }
      }

      .ls {
        ins {
          letter-spacing: 5.4px;
        }

        span {
          margin-top: 5px;
        }
      }
    }
  }
}

.block_3 {
  .flex_left {
    background: #2D2E31;
    height: 540px;

    .w1000-block({ order: 2; });

    .wrap {

      .w1000-block({ .offset-left(0); .offset-right(0); padding-left: 0; padding-right: 0; });
    }

    &:before {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #2D2E31;
    }

    &:after {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #2D2E31;
      display: none;

      .w1000-block({ display: block; });
    }

    ul {

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &:last-child {

          i {

            &:before {
              display: none;
            }
          }
        }

        .text {
          text-align: left;
          width: 350px;
          margin-left: 30px;
        }

        i {
          font-family: BioRhymeExpanded-Regular;
          line-height: 46px;
          font-size: 14px;
          color: black;
          width: 120px;
          text-align: center;
          position: relative;
          z-index: 10;

          &:after {
            content: '';
            position: absolute;
            right: -5px;
            top: 20px;
            color: white;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: white;
          }

          &:before {
            content: '';
            width: 1px;
            height: 100px;
            position: absolute;
            top: 100%;
            right: -2px;
            top: 20px;
            margin: auto;
            background: rgba(255, 255, 255, .5);
            z-index: 2;
          }
        }

        p {
          font-family: Montserrat-SemiBold;
          font-size: 15px;
          line-height: 18px;
          color: #FFFFFF;
          margin-bottom: 15px;
        }

        span {
          font-family: Montserrat-Medium;
          line-height: 18px;
          font-size: 14px;
          color: black;
        }

        ins {
          font-family: BioRhymeExpanded-Regular;
          color: #FFFFFF;
          line-height: 46px;
          font-size: 24px;
          text-align: right;
          margin-right: 40px;
          width: 125px;

          .w1300-block({ margin-right: 10px; font-size: 17px; });
        }

        &:nth-child(1) {
          height: 85px;
          z-index: 6;

          i {
            top: -20px;
          }

          p {
            text-align: left;
            width: 100%;
            // margin-left: 90px;
            letter-spacing: 1.1px;
            margin-top: 28px;
          }
        }

        &:nth-child(2) {
          background: #DD2D42;
          mix-blend-mode: normal;
          opacity: 0.85;
          height: 110px;
          z-index: 5;
        }

        &:nth-child(3) {
          background: #DD2D42;
          mix-blend-mode: normal;
          opacity: 0.9;
          height: 80px;
          z-index: 4;
        }

        &:nth-child(4) {
          background: #DD2D42;
          mix-blend-mode: normal;
          opacity: 0.95;
          height: 80px;
          z-index: 3;
        }

        &:nth-child(5) {
          background: #DD2D42;
          height: 80px;
          z-index: 2;
        }

        &:nth-child(6) {
          height: 105px;
          z-index: 1;

          .text {
            width: 420px;
            padding-left: 0px;

            p {
              font-size: 12px;
              letter-spacing: 0.5px;
            }

            span {
              color: white;
            }
          }

          ins {
            width: 50px;
          }
        }
      }
    }
  }

  .flex_right {
    background: #FAFAFA;

    .w1000-block({ order: 1; });

    &:before {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #fafafa;
    }

    &:after {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #fafafa;
      display: none;

      .w1000-block({ display: block; });
    }

    .wrap {
      .offset(2);
      padding-top: 82px;

      .w1200-block({ padding-top: 10px; });

      .w600-block({ padding-top: 26px; padding-bottom: 36px; });

      p {
        font-family: Montserrat-Medium;
        line-height: 32px;
        font-size: 24px;
        color: #000000;
        max-width: 540px;

        .w600-block({ line-height: 20px; font-size: 14px; });

        ins {
          font-family: BioRhymeExpanded-Regular;
          line-height: 32px;
          font-size: 24px;
          color: #000000;

          .w600-block({ line-height: 20px; font-size: 14px; });
        }
      }

      .text {
        margin-top: 40px;

        .w600-block({ margin-top: 26px; });

        span {
          font-family: Montserrat-Medium;
          line-height: 18px;
          font-size: 14px;
          color: #E41830;
          max-width: 180px;
          display: inline-block;
          opacity: 1;
          margin-top: 0;

          .w600-block({ line-height: 15px; font-size: 11px; max-width: 128px; });
        }

        ins {
          font-family: BioRhymeExpanded-Light;
          line-height: 46px;
          font-size: 40px;
          color: #E41830;
          vertical-align: top;
          margin-left: 5px;
          margin-top: 10px;
          display: inline-block;

          .w600-block({ line-height: 46px; font-size: 27px; margin-left: 5; margin-top: 0; });
        }
      }

      span {
        font-family: Montserrat-Medium;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        opacity: 0.8;
        margin-top: 45px;
        display: block;

        .w600-block({ margin-top: 25px; line-height: 18px; font-size: 11px; });
      }
    }
  }
}

.block_4 {

  .flex_left {
    .wrap {
      .offset-left(2);
      .offset-right(1);
      padding-top: 100px;
      padding-bottom: 100px;

      .w600-block({ padding-top: 38px; padding-bottom: 44px; });

      h2 {
        font-family: Montserrat-Medium;
        line-height: 46px;
        font-size: 34px;
        letter-spacing: -0.2px;
        color: black;

        .w600-block({ line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; });
      }

      h3 {
        font-family: Montserrat-SemiBold;
        line-height: 25px;
        font-size: 15px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: #35379B;
        margin-top: 50px;
        margin-bottom: 35px;

        .w600-block({ line-height: 20px; font-size: 12px; letter-spacing: 0.88px; margin-top: 25px; });
      }

      p {
        font-family: Montserrat-Medium;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        opacity: 0.8;
        max-width: 540px;
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0px;
        }

        .w600-block({ line-height: 18px; font-size: 11px; margin-top: 38px; });
      }
    }
  }

  .flex_right {
    background: linear-gradient(#2D2E74 50%, #2b2c6d 50%);

    &:before {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(#2D2E74 50%, #2b2c6d 50%);
    }

    &:after {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(#2D2E74 50%, #2b2c6d 50%);
      display: none;

      .w1000-block({ display: block; });
    }

    .wrap {
      .offset-left(5.1);
      .offset-right(2);
      padding-top: 170px;

      .w1000-block({ .offset-left(4.5); .offset-right(2); padding-bottom: 30px; padding-top: 30px; });

      .w600-block({ .offset-left(3.3) !important; padding-top: 50px; padding-bottom: 50px; });

      .text {
        &:before {
          content: '';
          position: absolute;
          left: -130px;
          top: 106px;
          width: 21px;
          height: 129px;
          background: url("../img/logo180.png");

          .w600-block({ left: -66px; top: 50px; transform: scale(0.6); });
        }

        &:after {
          content: '';
          position: absolute;
          left: -64px;
          top: -13px;
          width: 18px;
          height: 368px;
          background: url("../img/before.png");

          .w600-block({ left: -34px; top: -58px; transform: scale(0.7); });
        }
      }

      p {
        font-size: 17px;
        color: #FFFFFF;
        line-height: 25px;
        font-family: Montserrat-SemiBold;
        letter-spacing: 1.1px;

        .w600-block({ line-height: 25px; font-size: 12px; letter-spacing: 0.88px; });
          margin-bottom: 30px;
          .w600-block({ margin-bottom: 15px; });

      }

      ins {
        display: block;
        margin-bottom: 37px;
        font-family: Montserrat-SemiBold;
        line-height: 18px;
        font-size: 14px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.4;
        vertical-align: middle;
        text-align: right;
        margin-right: 90px;

        .w600-block({ line-height: 18px; font-size: 11px; margin-right: 10px; margin-bottom: 14px; });

        i {
          font-family: BioRhymeExpanded-Regular;
          line-height: 46px;
          font-size: 24px;
          margin-left: 10px;

          .w600-block({ line-height: 18px; font-size: 11px; });
        }
      }

      span {
        font-size: 14px;
        color: #FFFFFF;
        line-height: 18px;
        font-family: Montserrat-SemiBold;
        display: block;
        margin-bottom: 10px;

        .w600-block({ line-height: 18px; font-size: 11px; margin-bottom: 5px; });

        &:nth-child(3) {
          margin-bottom: 27px;

          //.w600-block({ margin-bottom: 14px; });
        }

        &:nth-child(5) {

          //.w600-block({ margin-bottom: 0px; });
        }

        &:nth-child(6) {
          margin-bottom: 50px;

          //.w600-block({ margin-bottom: 18px; });
        }
      }
    }
  }
}

.block_5 {
  background: #fafafa;

  ul {
    margin-top: 105px;

    .w1000-block({ margin-top: 0; });

    li {
      margin-bottom: 50px;

      .w600-block({ margin-bottom: 20px; });

      .marg {
        position: relative;
        .w1000-block({ max-width: 560px; margin: auto; });

        .w600-block({ max-width: 100%; });
      }

      img {
        display: inline-block;
        vertical-align: top;
        margin-top: 25px;

        .w600-block({ width: 45px;height: 45px; position: absolute; top:0; left:0;});
      }

      a {
        background: url("../img/ico_5_block_5.png");
        width: 26px;
        height: 26px;
        display: inline-block;
        vertical-align: top;
        background-position: -28px 0px;

        &:hover {
          background-position: 0px 0px;
        }

        &:active {
          background-position: 0px -28px;
        }

        img {
          .w600-block({ transform: scale(1); });
        }
      }

      .text {
        margin-left: 40px;

        .w1200-block({ margin-left: 10px; });

        .w1000-block({ margin-left: 40px; });

        .w600-block({ margin-left: 55px; max-width: 100%; });

        span {
          font-family: Montserrat-SemiBold;
          line-height: 18px;
          font-size: 12px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #000000;
          mix-blend-mode: normal;
          opacity: 0.2;

          .w600-block({ line-height: 18px; font-size: 10px; letter-spacing: 0.416667px; });
        }

        h3 {
          font-family: Montserrat-Medium;
          line-height: 32px;
          font-size: 24px;
          color: black;

          .w600-block({ line-height: 20px; font-size: 14px; });
        }

        p {
          line-height: 22px;
          font-size: 14px;
          color: #000000;
          mix-blend-mode: normal;
          opacity: 0.8;
          font-family: Montserrat-Medium;
          margin-top: 25px;

          .w600-block({ line-height: 18px; font-size: 11px; margin-top: 8px; });
        }

        img {
          margin-top: 5px;
          margin-left: 5px;
        }
      }
    }
  }

  .text {
    display: inline-block;
    max-width: 410px;

    .w1200-block({ max-width: 350px; });

    .w1000-block({ max-width: 410px; });
  }

  .flex_left {
    background: #FAFAFA;
    padding-bottom: 98px;

    .w1000-block({ padding-top: 25px; padding-bottom: 0px; });

    .wrap {
      .offset-left(2);

      .w1300-block({ .offset-left(0.3); });

      .w1000-block({ .offset-left(0); .offset-right(0); });
    }
  }

  .flex_right {
    background: #FAFAFA;

    .wrap {
      .offset-left(0);

      .w1300-block({ .offset-left(0.3); });

      .w1000-block({ .offset-left(0); .offset-right(0); });

      .w600-block({ padding-bottom: 22px; });
    }
  }
}
.block_6 {
  .flex_left {
    background: #26272A;

    .w1000-block({ order: 2; });

    &:before {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #26272a;
    }

    &:after {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #26272a;
      display: none;

      .w1000-block({ display: block; });
    }

    .wrap {
      .offset(2);

      .top {
        margin-top: 100px;

        .w600-block({ margin-top: 30px; .resize {
          width: 80px;
        } });

        img {

          &:nth-child(2) {
            margin-left: -5px;
            position: relative;
            top: -8px;

            .w600-block({ margin-left: -20px; vertical-align: top; margin-top: 50px; width: 35px; top: 0; });
          }
        }

        h4 {
          text-align: right;
          display: block;
          margin-top: -40px;
          line-height: 25px;
          font-size: 15px;
          letter-spacing: 1.1px;
          color: #FFFFFF;
          font-family: Montserrat-SemiBold;

          .w600-block({ min-width: 290px; line-height: 25px; font-size: 12px; letter-spacing: 0.88px; margin-top: -30px; width: 100%; });

          a {
            background: url("../img/img_3_block_6.png");
            width: 26px;
            height: 26px;
            display: inline-block;
            vertical-align: top;
            background-position: -28px 0px;

            &:hover {
              background-position: 0px 0px;
            }

            &:active {
              background-position: 0px -28px;
            }

            .w600-block({ img {
              display: inline-block;
              vertical-align: top;
            } });
          }
        }
      }

      p {
        font-family: Montserrat-SemiBold;
        line-height: 22px;
        font-size: 14px;
        color: #FFFFFF;
        margin-top: 45px;
        text-align: justify;

        .w600-block({ line-height: 18px; font-size: 11px; margin-top: 22px; });
      }
    }
  }

  .flex_right {
    background: #ffffff;
    .w1000-block({ order: 1; });

    .wrap {
      padding-top: 100px;
      padding-bottom: 145px;
      .offset(2);

      .w600-block({ padding-top: 40px; padding-bottom: 30px; });

      h2 {
        font-family: Montserrat-Medium;
        line-height: 46px;
        font-size: 34px;
        letter-spacing: -0.2px;
        color: #000000;
        max-width: 516px;

        .w600-block({ line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; });
      }

      p {
        font-family: Montserrat-Medium;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-top: 40px;

        .w600-block({ line-height: 18px; font-size: 11px; margin-top: 26px; });
      }

      .ico {
        display: flex;
        max-width: 292px;
        justify-content: space-between;
        margin-top: 30px;

        .w600-block({ margin-top: 23px; });
      }
    }
  }
}

.block_7 {
  margin-top: -1px;
  h3 {
    font-family: Montserrat-Medium;
    line-height: 32px;
    font-size: 24px;
    text-align: right;
    color: white;
    margin-top: 0;
    margin-bottom: 42px;

    .w1000-block({ margin-top: 100px; text-align: left; });

    .w600-block({ line-height: 20px; font-size: 14px; text-align: left; margin-top: 40px; margin-bottom: 25px; });
  }

  p {
    font-family: Montserrat-Medium;
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: right;
    margin-bottom: 9px;

    .w1000-block({ text-align: left; });

    .w600-block({ line-height: 14px; font-size: 10px; letter-spacing: 0.733333px; text-align: left; margin-bottom: 2px; max-width: 230px; });
  }

  .mob {
    position: absolute;
    right: 0px;
    left: 0;
    margin: auto;
    top: -60px;
    width: 368px;
    height: 586px;
    z-index: 1;

    .w1000-block({ right: -600px; top: 190px; });

    .w600-block({ right: -100%; top: 150px; width: 226px; height: 388px; });
  }

  .flex_left {
    background: #26272A;
    padding-bottom: 138px;

    &:before {
      content: '';
      position: absolute;
      left: -100%;
      top: 0;
      width: 100%;
      height: 100%;
      background: #26272a;
    }

    .w1000-block({ padding-bottom: 30px; });

    .wrap {
      .offset-right(4);
    }
  }

  .flex_right {
    background: #ffffff;
    .wrap {
      .offset-left(4);

      .w1000-block({ .offset-left(2); padding-bottom: 30px; });

      h3 {
        text-align: left;
        color: black;

        .w600-block({ margin-top: 25px; margin-bottom: 15px; max-width: 170px; });
      }

      p {
        text-align: left;
        color: black;
        max-width: 440px;
        font-weight: 600;

        .w600-block({ max-width: 230px; });
      }
    }
  }
}

.block_8 {
  background: #FAFAFA;
  .flex_left {
    background: #02B678;

    &:before {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #02B678;
    }

    &:after {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #02B678;
      display: none;

      .w1000-block({ display: block; });
    }

    .w1000-block({ order: 2; });
    .wrap {
      padding-top: 100px;
      padding-bottom: 120px;
      .offset(2);

      .w1200-block({ .offset(0.6); });

      .w1000-block({ .offset(2); });

      .w700-block({ padding-top: 25px; padding-bottom: 38px; });

      h2 {
        font-family: Montserrat-Medium;
        line-height: 32px;
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 85px;

        .w700-block({ font-weight: 500; line-height: 20px; font-size: 14px; margin-bottom: 39px; });
      }

      ul {
        margin-left: -5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .w700-block({ width: 210px; margin: auto; });

        li {
          width: 50%;

          .w700-block({ width: 100%; margin: auto; });

          margin-bottom: 10px;

          &:nth-child(1) {
            .img {
              img {
                margin-top: -15px;
              }
            }

            .w700-block({ order: 1; });
          }

          &:nth-child(2) {
            .img {
              img {
                margin-top: -5px;
                margin-left: -10px;
              }
            }

            .w700-block({ order: 4; });
          }

          &:nth-child(3) {
            .img {
              img {
              }
            }

            .w700-block({ order: 2; });
          }

          &:nth-child(4) {
            .img {
              img {
                margin-top: -5px;
                margin-left: -10px;
              }
            }

            .w700-block({ order: 5; });
          }

          &:nth-child(5) {
            .img {
              img {
                margin-top: -5px;
                margin-left: -10px;
              }
            }

            .w700-block({ order: 3; });
          }

          &:nth-child(6) {
            .img {
              img {
                margin-top: -5px;
                margin-left: -10px;
              }
            }

            .w700-block({ order: 5; });
          }

          .img {
            width: 52px;
            height: 52px;
            text-align: center;
            display: inline-block;

            .w700-block({ width: 40px; height: 40px; });

            img {
              vertical-align: top;
            }
          }

          span {
            line-height: 25px;
            font-size: 15px;
            letter-spacing: 1.1px;
            color: #000000;
            font-family: Montserrat-SemiBold;
            vertical-align: top;
            display: inline-block;
            margin-left: 10px;

            .w700-block({ font-weight: 600; line-height: 25px; font-size: 12px; letter-spacing: 0.88px; });
          }

        }
      }

      p {
        font-family: Montserrat-SemiBold;
        line-height: 22px;
        font-size: 14px;
        color: #FFFFFF;

        .w700-block({ font-weight: 600; line-height: 18px; font-size: 11px; margin-top: 25px; });
      }
    }
  }

  .flex_right {

    .w1000-block({ order: 1; });

    .wrap {
      .offset(2);
      padding-top: 100px;

      .w600-block({ padding-top: 64px; });

      p {
        font-family: Montserrat-Medium;
        line-height: 32px;
        font-size: 24px;
        color: black;
        max-width: 516px;

        .w600-block({ font-weight: 500; line-height: 20px; font-size: 14px; });

        ins {
          font-family: BioRhymeExpanded-Regular;
          line-height: 32px;
          font-size: 24px;
          color: #02B678;

          .w600-block({ line-height: 20px; font-size: 14px; });
        }
      }

      ul {
        margin-top: 85px;

        .w500-block({ margin-top: 60px; });

        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 30px;
          position: relative;

          .w500-block({ margin-bottom: 50px; &:last-child {
            margin-bottom: 20px;
          } });

          a {
            width: 310px;

            .w1100-block({ width: 210px; });

            .w500-block({ display: block; position: absolute; top: -26px; left: 0; });

            img {
              .w1100-block({ width: 100px; margin-left: 0px; });
            }
          }

          .text {
            text-align: right;
            width: 330px;

            p {
              font-family: BioRhymeExpanded-Regular;
              line-height: 24px;
              font-size: 20px;
              color: #000000;

              .w1300-block({ line-height: 24px; font-size: 16px; });
            }

            span {
              font-family: Montserrat-Medium;
              line-height: 22px;
              font-size: 14px;
              color: #000000;
              mix-blend-mode: normal;
              opacity: 0.8;

              .w1300-block({ font-weight: 500; line-height: 20px; font-size: 11px; });
            }
          }

          .w500-block({ .hide {
            text-align: right;
            margin-right: 35px;

            span {
              text-align: right;
              margin-left: 40px;
            }
          } });
        }
      }
    }
  }
}

.block_9 {
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left:50%;
    top: 0;
    width: 100%;
    height: 100%;
    background: #DD2D42;
    .w1000-block({
      left:0;
    });
  }
  .flex_left{
    .w1000-block({
      background: #ffffff;
    });
  }
  .slide_hide{
    &.active{
      .text{
        display: none;
      }
    }
    &:not(.active){
      .active-text{
        display: none;
      }
    }
  }
  .wrapper {
    // background: #ffffff;
    padding-bottom: 93px;

    .w1000-block({padding-bottom: 50px;});
    .w600-block({ background: #DD2D42; padding-bottom: 30px; });

    h2 {
      font-family: Montserrat-Medium;
      font-size: 34px;
      line-height: 46px;
      letter-spacing: -0.2px;
      color: black;
      max-width: 540px;
      .offset-left(2);
      padding-top: 100px;

      .w1000-block({ max-width: 100%; });

      .w600-block({ font-weight: 500; line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; background: white; .offset-left(0); padding-left: 15px; padding-right: 15px; padding-top: 40px; padding-bottom: 16px; });
    }

    .checker {
      .offset-left(2);
      margin-top: 153px;
      cursor: pointer;

      .w1100-block({ .offset-left(0.5); });

      .w1000-block({ .offset-left(-0.3); margin-top: 50px; text-align: center; span {
        color: black;
      } });
      .w600-block({margin-top: 25px});

      span {
        font-weight: 500;
        line-height: 32px;
        font-size: 24px;
        color: #FFFFFF;
        font-family: Montserrat-Medium;
        display: inline-block;
        vertical-align: top;
        opacity: 0.5;
        transition: .2s;

        &.active {
          opacity: 1;
        }

        .w600-block({ color: white; line-height: 32px; font-size: 14px; });
      }

      .check {
        width: 55px;
        height: 26px;
        background: #EBEBEB;
        border-radius: 15px;
        display: inline-block;
        vertical-align: top;
        margin: 4px 24px 0;

        .w600-block({ margin-left: 10px; margin-right: 10px; });

        &.active {
          background: #E8EEF7;

          &:before {
            left: 29px;
            background: #0968DF;
          }
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 26px;
          height: 26px;
          transition: .2s;
          border-radius: 50%;
          background: #2d2e74;
          transition: .2s;
        }
      }
    }

    .center {
      background: #F5F5F5;
      margin-top: 45px;
      .offset(2);
      .offset-left-padding(1);
      .offset-right-padding(1);
      padding-bottom: 70px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left:100%;
        bottom: 0;
        width: 20px;
        height: 225px;
        background: #ffffff;
        opacity: 0.5;
      }
      .w600-block({ .offset(0); .offset-left-padding(0); .offset-right-padding(0); padding-left: 15px; padding-right: 15px; margin-left: 15px; margin-right: 15px; margin-top: 25px; padding-bottom: 25px; });

      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        border-left: 65px solid white;
        border-bottom: 65px solid transparent;
        .w1000-block({border-left-color: #DD2D42});
        .w600-block({ border-left: 15px solid #DD2D42; border-bottom: 15px solid transparent; });
      }

      .content {
        display: none;

        &.content1 {
          display: block;
        }

        p {

          &.hide {
            display: none;
          }
        }
      }

      h4 {
        font-family: Montserrat-Medium;
        line-height: 26px;
        font-size: 18px;
        color: #000000;
        padding-top: 90px;

        .w600-block({ font-weight: 500; line-height: 20px; font-size: 13px; padding-top: 22px; });
      }

      p {
        font-family: Montserrat-Medium;
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-top: 22px;
        text-align: justify;

        .w600-block({ font-weight: 500; line-height: 18px; font-size: 11px; margin-top: 35px; });
      }

      span {
        display: block;
        margin-top: 28px;

        .w600-block({ margin-top: 25px; });

        a {
          line-height: 25px;
          font-size: 12px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #2D2E74;
          font-family: Montserrat-Medium;
          text-decoration: none;
          position: relative;
          display: inline-block;
          padding-left: 34px;
           span{
             margin: 0;
           }
          &:hover {

            &:before {
              background-position: 0px 0px;
            }

            &:active {
              background-position: 0px -28px;
            }
          }

          &.active {

            &:before {
              transform: rotate(180deg);
            }
          }

          &:before {
            content: '';
            width: 26px;
            height: 26px;
            position: absolute;
            left: 0;
            top: 0px;
            background: url('../img/ico_5_block_5.png');
            background-position: -28px 0px;

            &:hover {
              background-position: 0px 0px;
            }

            &:active {
              background-position: 0px -28px;
            }
          }

          .w600-block({ line-height: 25px; font-size: 10px; letter-spacing: 0.416667px; text-transform: uppercase; });
        }
      }
    }
  }
}

.block_10 {
  .flex_left {

    .w1000-block({ order: 2; background-size: cover; });

    .wrap {
      padding-top: 181px;
      .offset(2);

      .w1000-block({ padding-top: 30px; padding-bottom: 95px; });

      p {
        font-family: Montserrat-Medium;
        line-height: 22px;
        font-size: 14px;
        color: white;
        margin-bottom: 22px;
        text-align: justify;
        .w600-block({ font-weight: 600; line-height: 18px; font-size: 11px; });
      }

    }
  }

  .flex_right {

    .w1000-block({ order: 1; });

    .wrap {
      .offset(2);
      padding-top: 100px;
      padding-bottom: 88px;
      height: 710px;

      .w1300-block({ padding-top: 85px; });

      .w1000-block({ padding-bottom: 45px; height: auto; });

      .w600-block({ padding-top: 40px; });

      h2 {
        font-family: Montserrat-Medium;
        line-height: 46px;
        font-size: 34px;
        letter-spacing: -0.2px;
        line-height: 1.2;
        color: #000000;

        .w600-block({ line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; });
      }

      p {
        line-height: 22px;
        font-size: 14px;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.8;
        font-family: Montserrat-Medium;
        margin-top: 35px;
        margin-bottom: 70px;
        text-align: justify;
        .w1300-block({margin-top: 25px;margin-bottom: 30px;});

        .w600-block({ font-weight: 600; line-height: 18px; font-size: 11px; padding-bottom: 35px; margin-bottom: 32px; padding-bottom: 0; });
      }

      ul {
        li {
          display: flex;
          justify-content: space-between;
          text-align: center;
          margin-bottom: 10px;

          .w600-block({ margin-bottom: 5px; });

          &:nth-child(2) {
            position: relative;
            margin-bottom: 35px;

            .w600-block({ margin-bottom: 16px; });

            &:before {
              content: '';
              position: absolute;
              left: 0px;
              top: 10px;
              background: #00C481;
              width: 45px;
              height: 2px;
            }
          }

          .first {
            width: 40%;
            text-align: left;
            line-height: 22px;
            font-size: 14px;
            color: #000000;
            mix-blend-mode: normal;
            opacity: 0.8;
            font-family: Montserrat-Medium;

            .w600-block({ font-weight: 500; line-height: 15px; font-size: 11px; });
          }

          .second {
            width: 30%;
            line-height: 22px;
            font-size: 14px;
            color: #000000;
            font-family: Montserrat-Medium;

            .w600-block({ font-weight: 500; line-height: 22px; font-size: 11px; });
          }

          .third {
            width: 30%;
            line-height: 22px;
            font-size: 14px;
            color: #000000;
            font-family: Montserrat-Medium;

            .w600-block({ font-weight: 500; line-height: 22px; font-size: 11px; });
          }

          .green {
            line-height: 25px;
            font-size: 15px;
            letter-spacing: 1.1px;
            text-transform: uppercase;
            color: #00C481;
            font-family: Montserrat-SemiBold;
          }

          .title {
            line-height: 32px;
            font-size: 24px;
            color: #000000;
            opacity: 1;
            text-align: left;
            margin-top: 20px;

            .w600-block({ font-weight: 500; line-height: 19px; font-size: 14px; });
          }

          .num {
            font-family: BioRhymeExpanded-Regular;
          }
        }
      }
    }
  }
}

.block_11 {

  .text {
    margin-top: 55px;

    .w1000-block({ margin-left: 19px !important; margin-top: 26px; });

    .year {
      line-height: 40px;
      font-size: 40px;
      color: #000000;
      font-family: BioRhymeExpanded-Light;
      margin-bottom: 30px;

      .w800-block({ font-weight: 300; line-height: 32px; font-size: 28px; margin-bottom: 16px; });
    }

    .month {
      width: 148px;
      height: 35px;
      display: block;
      background: #DD2D42;
      margin-bottom: 10px;

      .w800-block({ height: 25px; });

      &:before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        left: -37px;
        top: 15px;
        background: #EBEBEB;
        border-radius: 50%;

        .w800-block({ left: -20px; });
      }

      span {
        background: #DD2D42;
        font-family: Montserrat-SemiBold;
        line-height: 22px;
        font-size: 14px;
        color: #FFFFFF;
        display: block;
        padding-left: 9px;
        padding-top: 6px;

        .w800-block({ font-weight: 500; line-height: 18px; font-size: 11px; });
      }
    }

    .short {
      width: 104px;
    }

    p {
      font-family: Montserrat-Medium;
      line-height: 22px;
      font-size: 14px;
      color: #000000;
      margin-bottom: 25px;

      .w800-block({ font-weight: 500; line-height: 18px; font-size: 11px; });
    }
  }

  .flex_left {

    height: 900px;

    .w1000-block({ height: auto; });

    .wrap {
      .offset-left(2);
      padding-top: 100px;
      padding-bottom: 85px;

      .w1100-block({ padding-top: 30px; });

      .w800-block({ padding-top: 35px; padding-bottom: 0px; });

      h2 {
        line-height: 46px;
        font-size: 34px;
        letter-spacing: -0.2px;
        font-family: Montserrat-Medium;
        color: #000000;

        .w800-block({ line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; });
      }

      .text {
        .row-flex();

        .first_col {
          .size(6);

          .w800-block({ .size(16); });

          &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 415px;
            left: -35px;
            top: 86px;
            background: #EBEBEB;

            .w800-block({ left: -18px; height: 211px; top: 61px; });
          }

          .col {
            &:nth-child(2) {
              margin-top: 160px;

              .w800-block({ margin-top: 0px; });
            }
          }
        }

        .second_col {
          .size(7);
          .offset-left(1);

          .w1200-block({ .offset-left(1.5); });

          .w800-block({ .offset-left(0); .size(16); });

          &:before {
            content: '';
            position: absolute;
            width: 1px;
            height: 415px;
            left: -35px;
            top: 87px;
            background: #EBEBEB;

            .w800-block({ left: -18px; height: 311px; top: 62px; });
          }
        }
      }
    }
  }

  .flex_right {
    height: 900px;

    .w1000-block({ height: auto; background-size: cover; });

    .wrap {
      .offset(2);
      padding-top: 145px;

      .w1100-block({ padding-top: 75px; });

      .w1000-block({ padding-top: 0px; });

      .text {
        .year {
          color: white;
        }

        p {
          color: white;
        }
      }

      .month {
        &:before {
          background: #505187;
        }
      }

      .third_col {
        .size(14);

        &:before {
          content: '';
          position: absolute;
          width: 1px;
          height: 390px;
          left: -35px;
          top: 87px;
          background: #979797;

          .w800-block({ left: -18px; height: 381px; top: 66px; });
        }
      }
    }
  }
}

.block_12 {
  .flex_left {
    background: #26272A;
    padding-top: 210px;
    padding-bottom: 187px;

    .w600-block({ padding-top: 0; padding-bottom: 0; });

    &:before {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #26272A;
    }

    &:after {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #26272A;
      display: none;

      .w1000-block({ display: block; });
    }

    .w1000-block({ order: 2; });

    .circle {
      display: none;

      &.active {
        display: block;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        max-width: 94%;
      }
    }

    .wrap {
      .offset-left(4.3);
      .offset-right(3.9);

      .item {
        width: 49%;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 15px;

        //.w600-block({ width: 20%; .offset-left(2); .offset-right(2);
        //});

        .dot {
          display: block;
          i {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: red;

            .w1100-block({ width: 14px; height: 14px; });
          }
        }

        ins {
          font-family: BioRhymeExpanded-Regular;
          line-height: 24px;
          font-size: 24px;
          color: white;
          display: block;
          margin-left: 34px;
          margin-top: -5px;

          .w1100-block({ line-height: 24px; font-size: 18px; margin-left: 20px; });
        }

        span {
          font-family: Montserrat-SemiBold;
          line-height: 22px;
          font-size: 14px;
          color: #FFFFFF;
          mix-blend-mode: normal;
          opacity: 0.5;
          display: block;
          margin-left: 30px;
          margin-top: 5px;

          .w1100-block({ font-weight: 600; line-height: 15px; font-size: 11px; margin-left: 20px; });
        }

        &:nth-child(1) {
          .dot {
            i {
              background: #E33B40;
            }
          }
        }

        &:nth-child(2) {
          .dot {
            i {
              background: #7CC149;
            }
          }
        }

        &:nth-child(3) {
          .dot {
            i {
              background: #731EBB;
            }
          }
        }

        &:nth-child(4) {
          .dot {
            i {
              background: #E57D31;
            }
          }
        }

        &:nth-child(5) {
          .dot {
            i {
              background: #3436A5;
            }
          }
        }

        &:nth-child(6) {
          .dot {
            i {
              background: #F5CC3D;
            }
          }
        }

        &:nth-child(7) {
          .dot {
            i {
              background: #1EAADD;
            }
          }
        }

        &:nth-child(8) {
          .dot {
            i {
              background: #979797;
            }
          }
        }
      }
    }
  }

  .flex_right {

    .w1000-block({ order: 1; });

    .wrap {
      .offset-left(2);
      padding-top: 100px;

      .w1000-block({ padding-top: 38px; });

      .w600-block({ padding-top: 38px; padding-bottom: 18px; });

      h2 {
        line-height: 46px;
        font-size: 34px;
        letter-spacing: -0.2px;
        color: #000000;
        font-family: Montserrat-Medium;

        .w600-block({ font-weight: 500; line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; margin-bottom: 63px; });
      }

      .numbers {

        .num {
          display: none;

          &.active {
            display: block;
          }

          div {
            margin-bottom: 40px;

            span {
              font-family: Montserrat-SemiBold;
              line-height: 18px;
              font-size: 12px;
              letter-spacing: 0.5px;
              text-transform: uppercase;
              color: #000000;
              display: inline-block;
              width: 117px;
              vertical-align: top;
              margin-top: 7px;
              margin-right: 20px;

              .w600-block({ font-weight: 600; line-height: 14px; font-size: 10px; letter-spacing: 0.416667px; });
            }

            ins {
              line-height: 46px;
              font-size: 40px;
              color: #000000;
              font-family: BioRhymeExpanded-Light;
              display: inline-block;
              vertical-align: top;

              .w600-block({ font-weight: 300; line-height: 32px; font-size: 28px; display: block; });
            }

            &:last-child {
              ins {
                font-family: BioRhymeExpanded-Regular;
                line-height: 30px;
                font-size: 18px;
                color: #000000;
                max-width: 345px;

                .w600-block({ font-weight: normal; line-height: 24px; font-size: 14px; });
              }
            }
          }
        }
      }

      .checker {
        margin-top: 7px;
        margin-bottom: 148px;
        cursor: pointer;

        .w1000-block({ margin-bottom: 38px; });

        span {
          font-size: 34px;
          letter-spacing: -0.2px;
          color: #000000;
          font-family: Montserrat-Medium;
          display: inline-block;
          vertical-align: top;
          opacity: 0.5;
          text-transform: lowercase;
          transition: .2s;

          &.active {
            opacity: 1;
          }
        }

        .check {
          width: 55px;
          height: 26px;
          background: #ebebeb;
          border-radius: 15px;
          display: inline-block;
          vertical-align: top;
          margin: 11px 12px 0;

          &.active {
            background: #E8EEF7;

            &:before {
              left: 29px;
              background: #0968DF;
            }
          }

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 26px;
            height: 26px;
            transition: .2s;
            border-radius: 50%;
            background: #2d2e74;
            transition: .2s;
          }
        }
      }
    }
  }
}

.block_13 {

  h2 {
    font-family: Montserrat-Medium;
    font-size: 34px;
    letter-spacing: -0.2px;
    color: #000000;
    //margin-bottom: 80px;
    //display: inline-block;
    //vertical-align: top;
    //.offset-left(2);
    //
    //.w1000-block({ .offset-left(0); text-align: center; margin-left: 100px; });
    //
    //.w900-block({ line-height: 32px; font-size: 26px; letter-spacing: -0.152941px; margin-bottom: 30px; });
    //
    //.w800-block({ margin-left: 0; margin-bottom: 60px; });
    //
    //.w320-block({ text-align: left; });
  }

  .controls {
    display: inline-block;
    vertical-align: top;
    font-family: 'BioRhymeExpanded-Regular';
    font-size: 24px;
    line-height: 46px;
    //margin-left: 160px;
    //
    //.w1000-block({ margin-left: 30px; });

    .count {
      display: inline-block;
      vertical-align: top;

      span, ins {
        display: inline-block;
        width: 60px;
        text-align: center;
      }
    }

    .arrs {
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;

      button {
        width: 26px;
        height: 13px;
        border: 0;
        cursor: pointer;
        display: block;

        &.prev {
          background: url('../img/prev.png');
          margin-bottom: 25px;

          &.disabled {
            background: url('../img/prev.png') bottom;
          }
        }

        &.next {
          background: url('../img/next.png');

          &.disabled {
            background: url('../img/next.png') bottom;
          }
        }
      }
    }
  }

  ul {
    min-height: 670px;
    .row-flex();
    display: none;

    &.active {
      display: flex;
    }

    &.active2 {

      li {
        opacity: 1;

        &:nth-child(1) {
          transform: scale(1);
          transition-delay: 0s;
        }

        &:nth-child(2) {
          transform: scale(1);
          transition-delay: .1s;
        }
        &:nth-child(3) {
          transform: scale(1);
          transition-delay: .2s;
        }

        &:nth-child(4) {
          transform: scale(1);
          transition-delay: .3s;
        }

        &:nth-child(5) {
          transform: scale(1);
          transition-delay: .4s;
        }

        &:nth-child(6) {
          transform: scale(1);
          transition-delay: .5s;
        }

        &:nth-child(7) {
          transform: scale(1);
          transition-delay: .6s;
        }

        &:nth-child(8) {
          transform: scale(1);
          transition-delay: .7s;
        }

        &:nth-child(9) {
          transform: scale(1);
          transition-delay: .8s;
        }
      }
    }

    li {
      text-align: center;
      margin-bottom: 40px;
      transform: scale(.6);
      transition: .4s;
      opacity: 0;
      .col();
      .size(5);
      .offset-left(0.25);

      .w900-block({ .size(7); .offset(0.5); });
      .box-img {
        position: relative;
        img {
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: url(desaturate.svg#greyscale);
          filter: gray;
          -webkit-filter: grayscale(1);
        }
      }
      .box-info {
        display: none;
        font-size: 12px;
      }
      .box-icon {
        position: absolute;
        right: 10%;
        bottom: 10%;
        width: 30px;
        height: 30px;
        background: #2e2e74;
        line-height: 30px;

        .icon {
          display: inline-block;
          vertical-align: middle;
          margin-top: -2px;
        }
        .icon-in {
          width: 30px;
          height: 30px;
          background: url("../img/linkedin.svg") no-repeat;
        }
        .icon-facebook {
          width: 19px;
          height: 20px;
          background: url("../img/social.png") no-repeat;
          background-position: 0 -18px;
        }
        .icon-youtube {
          width: 18px;
          height: 15px;
          background: url("../img/social.png") no-repeat;
          background-position: -59px -73px;
        }
      }
      .content {
        min-height: 110px;
      }
      img {
        border-radius: 50%;
        width: 160px;
        height: 160px;

        .w900-block({ width: 120px; height: 120px; });
      }

      p, .box-name {
        line-height: 26px;
        font-size: 16px;
        text-align: center;
        color: #000000;
        font-family: Montserrat-Medium;
        margin-top: 20px;

        .w900-block({ font-weight: 500; line-height: 26px; font-size: 13px; margin-top: 10px; });
      }
      .box-qualification,
      span {
        display: block;
        line-height: 19px;
        font-size: 13px;
        text-align: center;
        color: #000000;
        mix-blend-mode: normal;
        opacity: 0.7;
        margin-top: 5px;
        font-family: Montserrat-Medium;

        .w900-block({ font-weight: 500; line-height: 15px; font-size: 11px; });
      }
    }
  }

  .flex_left {

    .wrap {
      padding-top: 100px;
      padding-bottom: 75px;

      .w1000-block({ padding-top: 40px; padding-bottom: 0px; .offset-left(0);.offset-right(0);});
    }
  }

  .flex_right {
    background: #DD2D42;

    &:before {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #DD2D42;
    }

    &:after {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #DD2D42;
      display: none;

      .w1000-block({ display: block; });
    }

    .wrap {
      padding-top: 100px;
      padding-bottom: 75px;
      .w1000-block({ padding-top: 40px; padding-bottom: 0px; .offset-left(0);.offset-right(0);});
      h2 {
        color: white;
      }

      ul {
        justify-content: center;
        li {
          .offset(1);
          margin-bottom: 50px;

          .w900-block({ .offset(0); });
          .box-name,
          p {
            color: white;
          }
          .box-qualification,
          span {
            color: black;
            font-size: 12px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #000000;
            opacity: 1;
            font-family: Montserrat-Medium;
            line-height: 18px;
            margin-top: 0;
          }
        }
      }
    }
  }
}

.block_14 {
  background: #ffffff;
  h2 {
    //.offset-left(2);
    //margin-bottom: 79px;
    line-height: 46px;
    font-size: 34px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    font-family: Montserrat-Medium;
    //display: inline-block;
    //vertical-align: top;
  }
  .wrap{
    .w1000-block({.offset-left(0);.offset-right(0);});
  }
  .controls {
    display: inline-block;
    vertical-align: top;
    font-family: 'BioRhymeExpanded-Regular';
    font-size: 24px;
    line-height: 46px;
    //margin-left: 160px;
    //
    //.w1400-block({ margin-left: 100px; });
    //
    //.w1200-block({ margin-left: 20px; });
    //
    //.w1000-block({ margin-left: 40px; });

    .count {
      display: inline-block;
      vertical-align: top;

      span, ins {
        display: inline-block;
        width: 60px;
        text-align: center;
      }
    }

    .arrs {
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;

      button {
        width: 26px;
        height: 13px;
        border: 0;
        cursor: pointer;
        display: block;

        &.prev {
          background: url('../img/prev.png');
          margin-bottom: 25px;

          &.disabled {
            background: url('../img/prev.png') bottom;
          }
        }

        &.next {
          background: url('../img/next.png');

          &.disabled {
            background: url('../img/next.png') bottom;
          }
        }
      }
    }
  }

  .flex_left {
    padding-top: 100px;
    background: #26272A;

    &:before {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #26272A;
    }

    &:after {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #26272A;
      display: none;

      .w1000-block({ display: block; });
    }

    .controls {
      color: #fff;

      .arrs {

        button {

          &.prev {
            background: url('../img/prev.png') bottom;
          }

          &.next {
            background: url('../img/next.png') bottom;
          }
        }
      }
    }

    .wrap {
      ul {
        .row-flex();
        display: none;

        &.active {
          display: flex;
        }

        &.active2 {

          li {
            opacity: 1;

            &:nth-child(1) {
              transform: scale(1);
              transition-delay: 0s;
            }

            &:nth-child(2) {
              transform: scale(1);
              transition-delay: .1s;
            }
            &:nth-child(3) {
              transform: scale(1);
              transition-delay: .2s;
            }

            &:nth-child(4) {
              transform: scale(1);
              transition-delay: .3s;
            }

            &:nth-child(5) {
              transform: scale(1);
              transition-delay: .4s;
            }

            &:nth-child(6) {
              transform: scale(1);
              transition-delay: .5s;
            }

            &:nth-child(7) {
              transform: scale(1);
              transition-delay: .6s;
            }

            &:nth-child(8) {
              transform: scale(1);
              transition-delay: .7s;
            }

            &:nth-child(9) {
              transform: scale(1);
              transition-delay: .8s;
            }
          }
        }

        li {
          position: relative;
          height: 450px;
          transform: scale(.6);
          transition: .4s;
          opacity: 0;
          .col();
          .size(8);

          &:nth-child(1) {
            background: #1A1B1D;
          }

          &:nth-child(2) {
            background: #202123;
          }

          //img{
          //  display: block;
          //  margin: auto;
          //  margin-top: 63px;
          //}
          //
          //p{
          //  font-family: Montserrat-SemiBold;
          //  line-height: 22px;
          //  font-size: 14px;
          //  color: #FFFFFF;
          //  .offset-left(4);
          //  .offset-right(2);
          //  margin-top: 83px;
          //  position: relative;
          //
          //  &:before{
          //    content: '';
          //    position: absolute;
          //    left: -45px;
          //    top: -25px;
          //    background: url("../img/quote.png");
          //    width: 27px;
          //    height: 19px;
          //  }
          //}
          //
          //a{
          //  line-height: 22px;
          //  font-size: 14px;
          //  color: #00C481;
          //  font-family: Montserrat-SemiBold;
          //  text-decoration: none;
          //  .offset-left(4);
          //  position: absolute;
          //  bottom: 50px;
          //  left: 0;
          //  padding-right: 10px;
          //
          //  &:hover{
          //    color: #308CFF;
          //
          //    &:after{
          //      background-position: -14px 0px;
          //    }
          //  }
          //
          //  &:after{
          //    content: '';
          //    position: absolute;
          //    right: -3px;
          //    top: 6px;
          //    background: url("../img/arrow_right.png");
          //    width: 5px;
          //    height: 8px;
          //  }
          //}
          .activity {
            height: 100%;
            .image {
              height: 140px;
              width: 100%;
              overflow: hidden;
              text-align: center;
              line-height: 140px;
              img {
                display: inline-block;
                vertical-align: middle;
                max-height: 100%;
              }
            }
            .quote {
              min-height: 160px;
              position: relative;
              font-family: Montserrat-SemiBold;
              padding: 15px 20px;
              line-height: 22px;
              font-size: 14px;
              color: #FFFFFF;
              margin-top: 10px;
              max-width: 210px;
              margin-left:auto;
              margin-right:auto;
            }
            .box-link {
              margin-top: 10px;
              position: absolute;
              bottom: 40px;
              left: 20px;
              a {
                line-height: 22px;
                font-size: 14px;
                color: #00C481;
                font-family: Montserrat-SemiBold;
                text-decoration: none;
                padding-right: 10px;
                &:hover {
                  color: #308CFF;
                }
              }
            }
          }

        }
      }
    }
  }

  .flex_right {
    padding-top: 100px;

    .wrap {
      h2 {
        color: black;
      }

      .video_next {
        font-family: Montserrat-SemiBold;
        text-decoration: none;
        .offset-left(4);
        position: absolute;
        bottom: 22px;
        left: 0;
        padding-right: 10px;
        line-height: 22px;
        font-size: 14px;
        color: #2D2E74;
        z-index: 1;
        .offset-left(2);

        &:hover {
          color: #308CFF;

          &:after {
            background-position: -14px 0px;
          }
        }

        &:after {
          content: '';
          position: absolute;
          right: -3px;
          top: 8px;
          background: url("../img/arrow_right.png");
          background-position: -7px 0px;
          width: 5px;
          height: 8px;
        }
      }

      ul {
        .row-flex();
        justify-content: center;
        .offset(1.2);
        display: none;

        &.active {
          display: flex;
        }

        &.active2 {

          li {
            opacity: 1;
            border-left: 4px solid #ffffff;
            &:nth-child(1) {
              transform: scale(1);
              transition-delay: 0s;
            }

            &:nth-child(2) {
              transform: scale(1);
              transition-delay: .1s;
            }
            &:nth-child(3) {
              transform: scale(1);
              transition-delay: .2s;
            }

            &:nth-child(4) {
              transform: scale(1);
              transition-delay: .3s;
            }

            &:nth-child(5) {
              transform: scale(1);
              transition-delay: .4s;
            }

            &:nth-child(6) {
              transform: scale(1);
              transition-delay: .5s;
            }

            &:nth-child(7) {
              transform: scale(1);
              transition-delay: .6s;
            }

            &:nth-child(8) {
              transform: scale(1);
              transition-delay: .7s;
            }

            &:nth-child(9) {
              transform: scale(1);
              transition-delay: .8s;
            }
          }
        }

        li {
          .col();
          .size(8);
          transform: scale(.6);
          transition: .4s;
          opacity: 0;
        }
      }
    }
  }
}

.block_15 {
  .wrap{
    .w1000-block({.offset-left(0);.offset-right(0);});
  }
  ul {

    li {
      color: #000;
      padding: 30px 0;
      cursor: pointer;
      &:not(:first-child) {
        margin-top: -20px;
      }
      &.active {
        background: #e0e0ea;
        margin-bottom: 20px;
        span {

          ins {
            border: 0 !important;
          }
        }
      }

      span {
        display: block;
        line-height: 26px;
        font-size: 18px;
        font-family: Montserrat-Medium;
        .offset(2);

        ins {
          border-bottom: 2px solid #e0e0ea;
          cursor: pointer;

          &:hover {
            border-bottom: 2px solid #b6b6d4;
          }
        }
      }
      .block-text {
        display: none;
        .offset(2);
        font-family: Montserrat-SemiBold;
        line-height: 22px;
        font-size: 14px;
        margin-top: 10px;
        a {
          color: #308CFF;
          &:hover {
            color: #ffffff;
          }
        }
        ul {
          margin-top: 10px;
          padding-left: 20px;
          li {
            padding: 0;
            margin-top: 0 !important;
            list-style: disc;
          }
        }
      }
      p {
        margin-top: 10px;
      }
    }
  }

  .flex_left {
    .wrap {
      padding-top: 100px;
      padding-bottom: 80px;
      .w1000-block({padding-bottom: 20px;});
      h2 {
        font-family: Montserrat-Medium;
        line-height: 46px;
        font-size: 34px;
        letter-spacing: -0.2px;
        color: #000000;
        margin-bottom: 28px;
        .offset(2);
        .w1000-block({ display: block; });
      }

      // p{
      //   line-height: 26px;
      //   font-size: 18px;
      //   color: #000000;
      //   font-family: Montserrat-Medium;
      // }
    }
  }

  .flex_right {
    background: #2D2E74;

    &:before {
      content: '';
      position: absolute;
      right: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #2d2e74;
    }

    &:after {
      content: '';
      position: absolute;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100%;
      background: #2d2e74;
      display: none;

      .w1000-block({ display: block; });
    }

    .wrap {
      .w1000-block({padding-top: 20px;padding-bottom: 20px;});
      .top {
        background: #262763;
        margin-top: 176px;
        padding-top: 30px;
        padding-bottom: 31px;
        .offset-left-padding(2);
        position: relative;

        h3 {
          font-family: Montserrat-Medium;
          line-height: 26px;
          font-size: 18px;
          color: #FFFFFF;
        }

        h4 {
          font-family: Montserrat-SemiBold;
          line-height: 22px;
          font-size: 14px;
          color: #FFFFFF;
          margin-top: 10px;
        }

        a {
          width: 26px;
          height: 26px;
          position: absolute;
          right: 45px;
          top: 30px;
          background: url("../img/ico_5_block_5.png");
          display: inline-block;
          vertical-align: top;
          background-position: -28px 0px;
          transform: rotate(180deg);

          &:hover {
            background-position: 0px 0px;
          }

          &:active {
            background-position: 0px -28px;
          }
        }
      }
    }

    ul {
      margin-top: 174px;
      .w1000-block({margin-top: 0;});
      li {
        color: #fff;

        &.active {
          background: #262762;
        }
      }
    }
  }
}

footer {
  position: relative;
  // min-height: 810px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background: url("../img/footer.jpg") center 0 no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  .w1000-block({ min-height: auto; });

  .flex_right {
    div {
      max-width: 120px;
      margin-left: 360px;
      margin-top: 100px;

      img {
        margin-bottom: 52px;
      }
    }
  }

  .flex_left {
    z-index: 1;

    //.w1000-block({
    //  background: url('../img/bg_header_320.jpg') 0px 0px no-repeat; background-size: cover;
    //});
    //
    //.w600-block({ padding-left: 15px; padding-right: 15px;
    //});
    //
    //.w320-block({
    //  background: url('../img/bg_header_320.jpg') 0px 0px no-repeat; background-size: auto;
    //});

  }

  .text {
    .offset-left(2);
    .offset-right(2);
    display: flex;
    flex-direction: column;
    padding-top: 128px;

    .w1000-block({padding-top: 70px;});
    .w600-block({ .offset-left(0); .offset-right(0); padding-bottom: 30px; });

    p {
      font-family: Montserrat-Medium;
      line-height: 20px;
      font-size: 14px;
      color: white;
      border-left: 1px solid white;
      padding-left: 30px;

      .w600-block({ order: 5; line-height: 18px; font-size: 11px; padding-left: 15px; padding-right: 25px; });
    }

    .first {
      padding-bottom: 10px;

      .w600-block({ padding-bottom: 6px; });
    }

    i {
      font-family: Montserrat-SemiBold;
      font-weight: 600;
      line-height: 18px;
      font-size: 12px;
      letter-spacing: 0.5px;
      font-style: normal;
      text-transform: uppercase;
      display: block;
      margin-top: 62px;
      margin-bottom: 8px;
      color: white;
      opacity: 0.8;

      .w600-block({ order: 1; margin-top: 2px; line-height: 18px; font-size: 10px; letter-spacing: 0.416667px; margin-bottom: 0px; });
    }

    .stat {
      span {
        color: white;
        opacity: 0.8;

        i {
          display: inline-block;
          text-transform: none;
          font-family: Montserrat-Medium;
          line-height: 22px;
          font-size: 14px;
          margin-top: 0;
          margin-bottom: 0;

          .w600-block({ display: none; });
        }

        ins {
          font-family: BioRhymeExpanded-Regular;
          padding-left: 5px;
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          font-size: 14px;
          letter-spacing: -0.5px;
          text-decoration: none;

          .w600-block({ line-height: 20px; font-size: 11px; letter-spacing: -0.392857px; padding-left: 0px; });

        }
      }

      .right {
        float: right;
      }

      .progress {
        position: relative;
        height: 5px;
        overflow: hidden;
        background: #00C582;
        margin-top: 15px;
        border-radius: 5px;

        .w600-block({ margin-top: 2px; });

        .grayback {
          position: relative;
          width: 100%;
          height: 100%;
          background-color: #B7B7BD;
          border-left: 2px solid white;
          left: 0%;
          transition: .4s;
        }
      }

      .w600-block({ order: 2; });
    }

    h3 {
      font-family: Montserrat-Medium;
      line-height: 26px;
      font-size: 18px;
      margin-top: 60px;
      color: white;
      opacity: 0.8;

      .w600-block({ order: 3; line-height: 20px; font-size: 14px; margin-top: 27px; padding-right: 30px; });
    }

    form {
      position: relative;
      margin-top: 15px;

      .w1000-block({ margin-bottom: 28px; });

      .w600-block({ .offset-right(0); order: 4; margin-top: 10px; });

      input[type="email"] {
        border-radius: 30px;
        height: 45px;
        width: 90%;
        border: 1px solid #F5F5F5;
        background: linear-gradient(360deg, #F5F5F5 0%, #F0F0F0 98.48%);
        padding-left: 25px;
        font-family: Montserrat-Medium;

        .w600-block({ height: 35px; padding-left: 15px; line-height: 20px; font-size: 11px; });

        &:hover {
          background: #e4f5ed;
        }

        &:focus {
          background: #fffeff;
          border: 1px solid #e4f5ed;

          &::-webkit-input-placeholder {
            opacity: 0;
          }
        }
      }

      input[type="submit"] {
        height: 47px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 30px;
        cursor: pointer;
        font-family: Montserrat-SemiBold;
        background: #00C582;
        border-radius: 30px;
        border: none;
        color: white;
        font-size: 12px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        width: 180px;

        .w600-block({ width: 120px; height: 37px; });

        &:hover {
          background: #3e69d1;
        }

        &:active {
          background: #26272b;
        }
      }
    }
  }
}

.popup {
  z-index: 30;
  position:  fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  max-width: 1440px;
  top:200px;

  ul {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 760px;

    li {
      max-width: 760px;
      height: 45px;
      margin-bottom: -3px;

      &:hover {
        background: black;
        border-radius: 30px 30px;
      }

      a {
        text-decoration: none;
        padding-left: 4px;
        padding-top: 4px;
        display: block;
        margin-left: 90px;

        &:visited {
          color: black;
        }

        span {
          line-height: 26px;
          font-size: 18px;
          letter-spacing: 2.4px;
          color: #E41830;
          font-family: BioRhymeExpanded-Regular;
          display: inline-block;
          width: 42px;
          text-align: center;
        }

        p {
          font-weight: 500;
          line-height: 26px;
          font-size: 18px;
          color: #FFFFFF;
          font-family: Montserrat-Medium;
          display: inline-block;
          margin-left: 44px;
        }
      }
    }
  }

  &.active {
    display: block;
  }
}

.bg_popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 29;
  background: rgba(0, 0, 0, .7);
  display: none;
  .w1000-block({background: rgba(0, 0, 0, .8);});
}

.p_opened {
  .w1200-block({ .top_line {
    .menu_center {
      > a {
        color: #8f8f90 !important;
      }
    }
  } });
  .w1000-block({ .top_line {
    .logo {
      display: none;
    }
    .menu_right,
    .menu_center {
      display: -ms-flexbox;
      display: flex;
    }
  } });
}
.ru{
  header .text h1{
    margin-top: 130px;
    font-size: 32px;
    letter-spacing: -1px;
    margin-right: -60px;
    .w1300-block({font-size: 28px;});
    .w800-block({margin-top: 100px;});
    .w600-block({margin-right: 0;br{display: none;}});
  }
}

@media (max-width: 840px) {
  .popup {
    position: fixed;
    overflow-y: auto;
    height: calc(100% - 200px);
  }
}
@media (max-width: 800px) {
  .top_line .wrap {
    margin: 15px 15px 0 0;
  }

}

@media (max-width: 700px) {
  .top_line {
    //position: fixed;
    .menu_right,
    .menu_center {
      flex-direction: column;
      -ms-flex-direction: column;
      width: auto;
    }
    .menu_center {
      a {
        text-align: left;
        padding-bottom: 2px;
      }
    }
    .menu_right a{
      margin-left: 0!important;
    }

  }

  .popup {
    position: fixed;
    top: 160px !important;
    overflow-y: auto;
    height: calc(100% - 160px);
  }

  .popup ul li {
    height: auto;
    margin-bottom: 8px;
    a {
      margin-left: 5px;
      span {
        float: left;
        line-height: 15px;
      }
      p {
        line-height: 13px;
        font-size: 13px;
        display: block;
      }
    }
  }
}
@media (max-width: 600px) {
  .popup {
    top: 140px !important;
    overflow-y: auto;
    height: calc(100% - 140px);
  }
}
